
.viewProductCenter{
    display: flex;
    /* border: 3px solid purple; */
    justify-content: space-between;
    min-height: 50vh;
    margin: 2% 0;
}

.allProductDetailsContainer{
    /* border: 1px solid red; */
    width: 28%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.allProductDetailsItem{
    /* border: 1px solid var(--prim-border-color); */
    border-radius: 4px;
    margin-bottom: 2rem;
    cursor: pointer;
    position: relative;
    color: var(--text-color);  
}

.allProductDetailsheader{
    border-bottom: 1px solid var(--prim-border-color);
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    transition: all 0.2s ease-in-out;
    /* font-weight: 510; */
}

.allProductDetailsheader:hover{
    border-bottom: 1px solid var(--color);
    color: var(--color);
}

.detailsOpen{
    border-bottom: 1px solid var(--background-color); 
    color: var(--color);   
}
.detailsOpen:hover{
    border-bottom: 1px solid var(--background-color);    
}

.allProductDetailsHeaderText{
    /* border: 1px solid green; */
    min-width: 50%;
    display: flex;
    align-items: center;
}

.allProductDetailsHeaderIconWrapper{
    /* border: 1px solid var(--prim-border-color); */
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
}
.showMoreIcon{
    font-size: 1.4rem;
}

.allProductDetailsBody{
    /* padding: 0 1rem; */
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    overflow: hidden;
    height: 0;
}

.showMoreText{
    height: 15rem;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    border: 1px solid var(--prim-border-color);
    box-shadow: inset -4px 0 6px var(--box-shadow-color);
    line-height: 1.6;
    display: grid;
    row-gap: 1rem;
}

.showMoreText::-webkit-scrollbar{
    width:0.25rem;
}


/* styles for operational regions */
.operationalRegionContainer{
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    padding: 1rem;
    color: var(--text-color-opac-5);
}

.operationalRegionChild{
    border-bottom: 1px solid var(--prim-border-color);
    padding: 0.2rem 0;
}

.operationalRegionChild:last-of-type{
    border-bottom: none;
}

.noBorder{
    border-bottom: none;
}

.operationalRegionText{
    color: var(--text-color);
}

.textLarger{
 font-size: 1.3rem;
}

.operationalRegionText select, textarea{
    width: 100%;
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--prim-border-color);
    padding: 0.6rem;
    border-radius: 4px;
}

.operationalRegionText textarea{
   resize: vertical;
   cursor: text;
   padding: 4px;
}

.operationalRegionText select:focus,
.operationalRegionText textarea:focus{
    outline: 1px solid var(--color);
}

.operationalRegionText select.error,
.operationalRegionText textarea.error{
    outline: 1px solid var(--error-color);

}

.operationalRegionText select.notEmpty,
.operationalRegionText textarea.notEmpty{
    outline: 1px solid var(--color);
}

@media only screen and (max-width:500px) {
    .viewProductCenter{
        flex-wrap: wrap-reverse;
        min-height: 50vh;
        margin: 1rem 0;
    }

    .allProductDetailsContainer{
        /* border: 1px solid red; */
        width: 100%;
    }
}