

@keyframes animatetop{
    from{
        right: -12px;
        opacity:0;
        transition:all;
    }
    to{
        right:0px;
        opacity:1;
        transition:all;
    }
}


.signup-container{
    scroll-behavior:smooth;
    display:flex;
    flex-direction:column;
    min-height: 60vh;
    border:1px solid var(--prim-border-color);
    box-shadow:0 0 2px var(--box-shadow-color);
    border-radius: 6px;
    width:65%;
    margin-left:auto;
    margin-right: auto;
    margin:auto auto auto auto;
}

.signup-panel{
    display:flex;
    flex-direction:column;
    width:90%;
    min-height:50vh;
    margin-left:auto;
    margin-right: auto;
    margin-top:2.5%;
    margin-bottom:2%;
    position:relative;
    /* box-shadow:0 0 5px rgba(117, 116, 116, 0.6); */
}

.signup-panel-heading{
    color: var(--color);
    background-color:#ffffff;
    text-align: center;
    /* border:1px solid black; */
    margin-bottom:2%;
}
.signup-panel-error{
    display:flex;
    justify-content: center;  
}

.signup-panel-body{
    display:flex;
    flex-direction:column;
    /* border:1px solid green; */
}

.signup-panel-body form{
    position:relative;
    width:100%;
    min-height:40vh;
    display:flex;
    flex-direction: column;
     /* border:1px solid blue; */
}

.signup-form-group{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5%;
    margin-top:2%;
    margin-bottom:1%;
    width:99%;
    /* border:2px solid yellow; */
}

.signup-form-error{
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    padding-top: 0.2%;
    width:99%;
    /* border:2px solid red; */
    min-height: 25px;
}
.signup-form-error span{
    color:red; 
}
.signup-form-group label{
    font-size: 0.781em;
    font-weight: bold;
    color: var(--text-color); 
}

.signup-panel form input{
    padding:12px 12px 12px 5px;
    /* border-radius: 4px;  */
    /* border:1px solid #222; */
    color: var(--text-color);
    border:1px solid var(--prim-border-color);
    transition: border-color 0.3s ease;
    caret-color: var(--prim-color);
}
.signup-panel form input:focus{
    border:1px solid var(--text-color);
    outline: 1px solid var(--text-color); 
   
}

.signup-panel form input.not-empty{
    border-color:var(--text-color);
    outline: 1px solid var(--text-color); 
}


.signup-button{
    /* border:1px solid #222; */
    margin-top: 5%;
    margin-bottom: 2%;
}
.signup-button span{
   
}
.signup-panel button{
    width:100%;
    height: 50px;
    border:1px solid var(--color);
    background-color: var(--color);
    color: #ffffff;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
}

.signup-panel button:hover{
    border:1px solid var(--opaque-color);
   background-color: var(--opaque-color);
   
}
.signup-panel button:focus{
    outline: 1px solid var(--outline-color);
   
}

.signup-login-panel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    margin-left:auto;
    margin-right: auto;
    /* border:1px solid red; */
    margin-bottom:2%;
}
.login-link{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border:1px solid green; */
}
.login-link-text{
    /* border:1px solid green; */
    margin-right: 2%;
}
.login-link-text p{
    text-align: center;
    /* font-size: 0.9rem;  */
    color: var(--text-color);
}
.login-link-button{
    /* border:1px solid green; */
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width:25%;
}
.login-link-button a{
    /* border:1px solid #222; */
    width:100%;
    /* margin:0 auto 0 auto; */
    cursor:pointer;
}
.login-link-button button{
    height:42px;
    width:100%;
    /* margin:0 auto 0 auto; */
    cursor:pointer;
    font-size: 0.9rem;
    font-weight: bold;
    border:1px solid var(--text-color);
    border-radius: 4px;
    background-color: #f0f0f0;
    color: var(--text-color);
    transition: all 0.3s ease;
}
.login-link-button button:hover{
    
    border:1px solid var(--text-color);
    background-color: var(--text-color);
    color: #ffffff;
}
.login-link-button button:focus{
    outline: 1px solid var(--outline-color);  
}


@media only screen  and (max-width: 910px) {
   
}

@media only screen  and (max-width: 600px) {
    .signup-container{
     
        margin-top:10%;
        margin-bottom: 10%;
    }
   

}



@media only screen  and (max-width:414px) {
    

}
@media only screen  and (max-width:412px) {

   

}