.signup-container{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--prim-border-color);
    background: var(--background-color);
    border-radius: 6px;
    width: 100%;
    margin: auto;
    padding: 2rem 3rem;
}

.signup-panel{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* border:1px solid purple; */
}

.signup-panel-heading{
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
    /* border:1px solid purple; */
}

.signup-panel-error{
    display: flex;
    justify-content: center;  
}

.signup-panel-body{
    display: flex;
    flex-direction: column;
    color: var(--text-color);  
    /* border: 2px solid green; */
}

.signup-panel-body form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px solid blue; */
}

.signup-form-group{
    display: flex;
    margin-bottom: 0.3rem;
    width: 100%;
    /* border: 2px solid yellow; */
}

.signup-form-error{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
    margin-bottom: 0.4rem;
    min-height: 25px;
    color: var(--error-color); 
}

.signup-form-error span{
    display: flex;
}

.signup-form-error i{
    display: flex;
    align-items: center;
    margin-right: 0.2rem;
    /* border:1px solid red; */
}

.signup-form-group label{
    font-size: 0.781em;
    font-weight: bold; 
}

.signup-panel form input{
    padding: 16px;
    font-size: 1rem;
    border-radius: 8px;
    color: var(--text-color);
    border: 1px solid var(--prim-border-color);
    caret-color: var(--color);
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.signup-panel form input:focus{
    outline: 1px solid var(--color);
    border: 1px solid var(--color); 
}

.signup-panel form input.not-empty{
    outline: 1px solid var(--color);
    border: 1px solid var(--color); 
}

.signup-panel form input.has-error{
    outline: 1px solid var(--error-color);
    border: 1px solid var(--error-color);
}

.signup-button-container{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
}

/* .signup-button-child {
    border:1px solid green;
} */


/* .signup-button span{
   
} */
.signup-panel button{        
    width: 100%;
    padding: 16px;
    font-size: 0.95rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background-color: var(--color-opac-7);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-panel button:hover{
    background-color: var(--color);
}

.signup-panel button:focus{
    outline: 2px solid var(--prim-border-color);   
}

.signup-button-child:first-of-type button {
    background-color: var(--background-color);
    color: var(--color);
    border: 1px solid var(--background-color);
}

.signup-button-child:first-of-type button:hover {
    border: 1px solid var(--color);
}

.signup-button-icon{
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

.signup-login-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border:1px solid red; */
}

.login-link{
    display: flex;
    justify-content: flex-end;
    /* border:1px solid green; */
}

.login-link-text{
    /* border:1px solid green; */
    margin-right: 0.4rem;
}

.login-link-text p{
    text-align: center;
    color: var(--text-color-opac-5);
}

.login-link-button{
    /* border:1px solid green; */
    display: flex;
    align-items: center;
}

.login-link-icon{
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.login-link-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    /* border: 1px solid var(--background-color); */
    border-radius: 28px;
    background-color: var(--background-color);
    color: var(--color);
    transition: all 0.3s ease;
}

.login-link-button a:hover{
    background-color: var(--active-link-bg-color);
}

@media only screen  and (max-width: 910px) {
    .signup-container{
        min-height: 75vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .signup-panel{
        width: 60%;
    }
}

@media only screen  and (max-width: 800px) {
   
}

@media only screen  and (max-width: 768px) {
   
}

@media only screen  and (max-width: 600px) {

}

@media only screen  and (max-width: 600px) {
    .signup-container{
        width: 100%;
    }
    
    .signup-panel{
        width: 100%;
    }

    .login-link{
        justify-content: unset;
    }
}

@media only screen  and (max-width:480px) {
    
}

@media only screen  and (max-width:320px) {

}