



















@keyframes animatetop{
    from{
        right: -12px;
        opacity:0;
        transition:all;
    }
    to{
        right:0px;
        opacity:1;
        transition:all;
    }
}


.signup-container{
    scroll-behavior:smooth;
    display:flex;
    flex-direction:column;
    min-height: 60vh;
    border:1px solid red;
    width:75%;
    margin-left:auto;
    margin-right: auto;
    margin:auto auto auto auto;
}

.signup-panel{
    display:flex;
    flex-direction:column;
    width:90%;
    min-height:50vh;
    margin-left:auto;
    margin-right: auto;
    margin-top:2.5%;
    margin-bottom:2%;
    position:relative;
    /* box-shadow:0 0 5px rgba(117, 116, 116, 0.6); */
}

.signup-panel-heading{
    background-color:#ffffff;
    text-align: center;
    border:1px solid black;
    margin-bottom:2%;
}

.signup-panel-body{
    display:flex;
    flex-direction:column;
    /* justify-content: center;
    align-items: center; */
    /* min-height:50vh; */
    border:1px solid green;
}

.signup-panel-body form{
    position:relative;
    width:100%;
    min-height:40vh;
    display:flex;
    flex-direction: column;
     border:1px solid blue;
}

.signup-form-group{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5%;
    margin-top:2%;
    width:99%;
    border:2px solid yellow;
}
.signup-form-group span{
    margin-right: 1%;
    color:red;
   
}
.signup-form-error{
    display: flex;
    justify-content: space-between;
    padding-top: 0.2%;
    width:99%;
    border:2px solid yellow;
}
.signup-form-error span{
    color:red; 
}
.signup-form-group label{
    font-size: 0.781em;
    font-weight: bold;
}

.signup-panel form input{

    padding:12px;
    border-radius: 3px;
    outline:none;
   
    /* height:49px; */
    font-size: 0.95em;
    font-family: 'acme';
    font-weight: bold;
   
    border:2px solid #222;
    transition: border-color 0.3s ease;

}

.signup-button{
    border:1px solid red;
    margin-top: 5%;
    margin-bottom: 2%;
}
.signup-panel button{
    width:100%;
    height: 45px;
    border:none;
    font-size: 1em;
    font-family:'acme';
    font-weight: bold;
    transition:all 0.3s ease-in-out;
  
}

.signup-panel button:hover{
   
}



.login-link span a{
    text-decoration:none;
    color:rgb(218, 152, 218);
    font-weight: bold;
}

.login-link span a:hover{
    text-decoration: underline;
}

.signup-login-panel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    margin-left:auto;
    margin-right: auto;
    border:1px solid red;
    margin-bottom:2%;

}
.login-link{
    display:flex;
    flex-direction: row;
    border:1px solid green;

}
.login-link-text{
    border:1px solid green;
    width:50%;
    

}
.login-link-text p{
    text-align: center;
   
}
.login-link-button{
    border:1px solid green;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:50%;

}
.login-link-button a{
    border:1px solid green;
  
    width:70%;
    margin:0 auto 0 auto;
}
.login-link-button button{
    height:45px;
    width:100%;
    margin:0 auto 0 auto;
}


@media only screen  and (max-width: 910px) {
   
}

@media only screen  and (max-width: 600px) {
   

}



@media only screen  and (max-width:414px) {
    

}
@media only screen  and (max-width:412px) {

   

}
