
.landing-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:4%;
    min-height: 8vh;
    border:1px solid var(--prim-border-color);
    border-radius: 4px;
    box-shadow:0 0 1px var(--box-shadow-color);
    width:90%;
    margin-left:auto;
    margin-right:auto;
    background-color: var(--bg-color);
    z-index: 1;
}

.landing-header-logo{
    width:20%;
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color);
    font-size:1.1em;
    font-weight:bold;
    padding-left: 1%;

}

.landing-header-logo-img{
    /* border:1px solid red; */
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.landing-header-logo-img img{
    width: 32%; 
}

.landing-header-navigation{
    width:100%;
    /* border: 1px solid black; */
    display:flex;
    flex-direction: row;
}

.landing-header-navigation nav{
    width:100%;
    /* border: 1px solid yellow; */
    display:flex;
    flex-direction: row;
    justify-content: center;

}
.landing-nav-item{
    /* border: 1px solid black; */
    display:flex;
    justify-content: center;
    width:15%;
    font-weight: 600;
}

.landing-nav-link{   
    display:flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition:all 0.3s ease;
    /* border-bottom: 1px solid var(); */
    border-bottom: 3px solid var(--bg-color);
    padding:0 5%;
    color: var(--color);
}

.landing-nav-link:hover{   
    border-bottom: 3px solid var(--color);
    color: var(--color);
}

/* .landing-nav-link i{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding :0.2rem;
    border: 1px solid black;
} */

.landing-nav-link-active{
    color: var(--color);
    border-bottom: 3px solid var(--color);
}

.landing-header-login{
    display: flex;
    width:20%;
    /* border: 1px solid red; */
    padding-right: 1%;
}

.landing-login-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
    width:100%;
}

.landing-header-mobile-nav-container{
    width:40%;
    border:1px solid red;
    display:none;
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 4px;
    border:1px solid var(--color);
    cursor:pointer;
    color: var(--color);
}

.landing-login-item button{
    height:36px;
    width:45%;
    cursor:pointer;
    background-color: #ffffff; 
    color: var(--color);
    border:1px solid var(--color);
    border-radius:6px; 
    font-weight: bold; 
    transition:all 0.2s ease;      
}

.landing-login-item button:focus{
    outline: 1px solid var(--main-color);        
}

.landing-login-item button:hover{
    background-color: var(--color); 
    color: #ffffff;
    border:1px solid var(--color);        
}

@media only screen and (max-width:500px) {

    .landing-header{
        margin-top:0%;
        margin-left:0;
        margin-right:0;
        min-height: 8vh;
        /* border: 1px solid blue; */
        border:1px solid var(--prim-boder-color);
        box-shadow:0 0 8px var(--box-shadow-color);
        width:100%;
        position: fixed;
        top: 0;
    }

    .landing-header-navigation{
        display:none;
    }

    .landing-header-logo{
        min-width:20%;
    }
    
    .landing-login-item button{
      display:none;
    }

    .landing-header-mobile-nav-container{ 
        display:flex;
    }
 
}

@media only screen and (max-width:414px) {
    

}

@media only screen and (max-width:360px) {


}

@media only screen and (max-width:290px) {

    .nav-icon{
        font-size:1em;
    }

    .main-nav-link{   
        padding: 5%;
        border-radius: 30%;
        border:1px solid var(--color);
    }

}