

.cart-container{
    /* border: 1px solid green;  */
    padding:1%;
}
.cart-header{
    /* width:80%; */
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center; 
}
.cart-header h3{ 
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}

.cart-products-wrapper{
    display:flex;
    /* border: 2px solid yellow; */
}
.cart-products-container{
    /* border: 2px solid red;  */
    width:80%; 
}
.cart-products-panel{
    /* border: 2px solid purple;  */
}
.cart-products-total-container{
    /* border: 1px solid blue; */
    margin: 0 auto 4%  auto;
    min-height: 10vh; 
}
.cart-products-total-panel{
    border: 1px solid var(--prim-border-color);
    border-radius: 6px;
    width:70%;
    margin:0 auto;
    padding:1%; 
}
.cart-products-total-amount{
    margin:2% 0;
    /* border: 2px solid purple; */
    color: var(--text-color);
    font-size:1.2em;
}
.cart-products-total-amount-span-bold{
   font-weight: bold;
}
.cart-products-total-checkout{
    /* border: 2px solid purple; */
    margin-bottom:2%;
}
.cart-products-total-checkout button{
    height:50px;
    width:100%; 
    color: #ffffff;
    border: 1px solid var(--color);
    background-color: var(--color);
    transition: all 0.3s ease;
    border-radius: 4px;
    font-weight:bold;
    cursor: pointer;

}
.cart-products-total-checkout button:hover{
    border: 1px solid var(--opaque-color);
    background-color: var(--opaque-color);
}
.cart-products-total-checkout button:focus{
    outline:1px solid var(--opaque-color);
}
.cart-product-checkout{
    /* border: 1px solid red;  */
    width:20%; 
    margin-left: auto;
}


.cart-product-panel{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--prim-border-color);
    box-shadow:0 0 2px var(--box-shadow-color);
    border-radius: 6px;
    width:70%;
    margin: 2% auto 5% auto;
}

.cart-product-profile{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--prim-border-color);
    min-height: 10vh;
}
.cart-product-profile-image{
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.cart-product-profile-image div{
    /* border: 1px solid red; */
}
.cart-product-profile-image img{ 
    border-radius: 50%; 
    height:40px;
    width:40px;
    object-fit: cover;
    object-position: center;
    /* border:1px solid red; */
}
.cart-product-profile-info{
    /* border: 1px solid red; */
    width:60%;
    display:flex;
    align-items: center;
}

.cart-product-profile-info div{
    color:var(--text-color);
    font-weight: bold;
    font-size: 1em;
    /* border: 1px solid yellow;    */
}

.cart-product-images-panel{
    display:flex;
    /* border-bottom: 1px solid var(--prim-border-color); */
    min-height: 20vh;
    width:97%;
    margin: 1% auto 1% auto;
}
.cart-product-images-header{
    /* border: 1px solid red; */
    min-height: 5vh;
    display:flex;
    align-items: center;
}
.cart-product-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid red; */
    width:50%;
}

.cart-product-image-group{
    width:auto;
}
.cart-product-image-group img {
    width: 100%;
    height: 100%;   
}

.cart-product-info{
    /* border: 2px solid blue; */
    margin-left:auto;
    width:49%;
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    color: var(--text-color);
    padding:1%;
}
.cart-product-info-span-group{
    /* border: 1px solid green; */
}
.cart-product-info-span-group .price{
   color: var(--color);
}
.cart-product-info-span-group p{
    font-size: 1.05rem;
    font-weight: bold;   
}
.cart-product-info-span-group span{
    font-size: 1.05rem;
    font-weight: 400; 
    /* color: var(--color);   */
}
.cart-product-info-span-group .original-price{
    text-decoration: line-through;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(255, 84, 84);
}
.cart-product-buttons{
    /* border: 1px solid purple; */
    height: 100%;
    /* margin-top:auto; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cart-product-buttons-header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.cart-product-buttons-header span{
    font-size: 1.05rem;
   
}
.cart-product-button-top{
    /* border: 1px solid var(--color); */
    /* background-color: #f0f0f0; */
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: 8vh; */
    height:50px;
    margin-bottom:2%;
    /* padding:2%; */
    /* width: 60%; */
}
.cart-product-button-bottom{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-product-add-button{
    min-width: 25%;
    /* border: 1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart-product-input{
    width: 20%;
    margin:0% 1%;
    border:1px solid var(--prim-color);
    border-radius: 4px;
    background-color: #f0f0f0;
    /* box-shadow:0 0 4px var(--box-shadow-color); */
    height:30px;
    color: var(--text-color);
    caret-color: var(--prim-color);
    text-align: center;
}
.cart-product-input:focus{
    outline:1px solid var(--opaque-prim-color);
    border:1px solid var(--prim-color);
    background-color: var(--bg-color);
}
.cart-product-reduce-button{
    min-width: 25%;
    /* border: 1px solid green; */
    display:flex;
    justify-content: center;
    align-items: center;
} 
.cart-product-add-button-icon button{
    color: var(--prim-color);
    border:1px solid var(--prim-color);
    height:35px;
    width:40px;
    border-radius: 30%; 
    display:flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
    transition: all 0.2s ease;
    font-size:1.1em;
    font-weight: bolder;
}
.cart-product-add-button-icon button:hover{
    color: #ffffff;
    border:1px solid var(--prim-color);
    background-color: var(--prim-color);
    /* transform: scale(1.05); */
}
.cart-product-add-button-icon button:focus{
    outline:1px solid var(--opaque-prim-color);
   
}
.cart-product-add-button-icon i{
    font-weight: 800;  
}
.cart-product-remove-button{
    min-width: 100%;
    /* border: 1px solid black; */
    min-height:55px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.cart-product-remove-button span{
    font-size: 1.2em;
    font-weight: 400;
    
}

 .cart-product-remove-button button{
    width: 100%;
    height:50px;
    border:1px solid var(--text-color);
    border-radius: 30px;
    background-color: #ffffff;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
    border:1px solid rgb(255, 84, 84);
    background-color: var(--bg-color);
    color: rgb(255, 84, 84);
    transition: all 0.2s ease;
}
.cart-product-remove-button button:hover{
    box-shadow:0 0 2px rgb(255, 84, 84);
    background-color: rgb(255, 84, 84);
    color: #ffffff;
}
.cart-product-remove-button button:focus{
    outline:1px solid rgb(255, 84, 84);
}
/* cart checkout panel */
.cart-checkout-panel{
    position: sticky;
    top:11vh;
    border: 1px solid var(--prim-border-color);
    border-radius: 6px;
    width:85%;
    min-height: 20vh;
    margin:60% auto;
    display:flex;
    padding:2% ;
    color: var(--text-color);
}
.cart-checkout-info{
    /* border: 1px solid red; */
    width:100%;
    min-height: 18vh;
   
}
.cart-checkout-span-group{
    /* border: 1px solid green; */
    padding:5% 0;
    font-size:1.05rem;  
}
.cart-checkout-span-left{
    font-weight: 550;
    font-weight: bold

}
.cart-checkout-span-right{
    font-weight: 400;

}
.cart-checkout-button-wrapper{
    /* border: 1px solid purple; */
    
}
.cart-checkout-button{
    height:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    cursor:pointer;
    font-size:1.1rem;
    font-weight: 550;

}
.cart-checkout-button button{
    width:100%;
    height:100%;
    color: #ffffff;
    border: 1px solid var(--color);
    background-color: var(--color);
    transition: all 0.3s ease;
    border-radius: 4px;
    font-weight:bold;
    cursor: pointer;

}
.cart-checkout-button button:hover{
    border: 1px solid var(--opaque-color);
    background-color: var(--opaque-color);
}
.cart-checkout-button button:focus{
    outline:1px solid var(--opaque-color);
}

/* empty cart */
.empty-cart-container{
    padding:1%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    /* border: 2px solid red;  */
    width:80%;
}

.empty-cart-body{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--prim-border-color);
    box-shadow:0 0 2px var(--box-shadow-color);
    border-radius: 6px;
    padding: 0% 2%;
    width: 50%;
    margin: auto auto;

}
.empty-cart-content{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2%;
    color: var(--text-color);
    text-align: center;
}

.empty-cart-button{
    display: flex;
    justify-content: center;
}
.empty-cart-button-wrapper{
    /* border: 2px solid purple; */
    min-width: 40%;
}
.empty-cart-button-wrapper a{
    /* border: 1px solid var(--color); */
    min-width:70%;
}

.empty-cart-button-wrapper button{
    border: 1px solid var(--color);
    /* border: 1px solid var(--prim-border-color); */
    border-radius: 4px;
    /* font-size: 0.9rem; */
    font-weight: bold;
    color: var(--no-color);
    background-color: var(--color);
    min-width: 100%;
    height: 42px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.empty-cart-button-wrapper button:hover{
    border: 1px solid var(--opaque-color);
    background-color: var(--opaque-color); 
     
}
.empty-cart-button-wrapper button:focus{
    outline:1px solid var(--opaque-color);
   
    
}

/* modal component */

.cart-checkout-modal-container-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index:1;
    overflow:auto;
    /* border:1px solid red; */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-checkout-modal-container{
    position:fixed;
    /* background-color:#f1f1f1; */
    background-color:var(--no-color);
    width:35%;
    min-height: 30vh;
    z-index:1;
    /* animation-name:animatetop; */
    animation-duration:0.6s;
    border:3px solid var(--no-color);
    border-radius: 4px;
    padding:1%;
}
.cart-checkout-modal-body-container{
    /* border:3px solid purple; */
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1%;
}
.cart-checkout-modal-content{
    /* border:1px solid green; */
    margin-bottom: 2%;
    /* font-size: 1.1rem; */
    /* font-weight: 550; */
    text-align: center;
    color: var(--text-color);
}
.cart-checkout-modal-buttons-container{
    /* border:3px solid blue; */
    display: flex;
    justify-content: space-between;
    /* margin-top: auto; */
    /* align-items: center; */
}
.cart-checkout-modal-button{
    /* border:1px solid red; */
    width: 30%;
}
.cart-checkout-modal-button button{
    width: 100%;
    height: 45px;
    border: 1px solid var(--color);
    border-radius: 4px;
    font-weight: bold;
    color: var(--no-color);
    background-color: var(--color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.cart-checkout-modal-button button a{
    color: var(--no-color);
    text-decoration: none;
}

/* modal offline payment */
.cart-checkout-modal-go-back-button{

}
.cart-checkout-modal-offline-payment-content{
    margin-bottom: 2%;
    color: var(--text-color);
}
.cart-checkout-modal-place-order-button-container{
    display: flex;
    justify-content: space-between;
}
.cart-checkout-modal-place-order-button{
    width: 30%;
     /* border:1px solid red; */

}
.cart-checkout-modal-place-order-button button{
    width: 100%;
    height: 45px;
    border: 1px solid var(--color);
    border-radius: 4px;
    font-weight: bold;
    color: var(--no-color);
    background-color: var(--color);
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.cart-checkout-modal-place-order-button.back button{
    border: 1px solid var(--color);
    color: var(--color);
    background-color: var(--no-color);
}

