

.cart-container{
    border: 5px solid green; 
}
.cart-header{
    border: 2px solid yellow;
    display: flex;
    justify-content: center; 
}
.cart-header p{ 
    font-size: 600rem;
}

.cart-products-wrapper{
    display:flex;
}
.cart-products-container{
    border: 2px solid red; 
    width:80%; 
}
.cart-products-panel{
    border: 2px solid purple; 
}
.cart-products-total-container{
    border: 1px solid blue;
    margin: 0 auto 4%  auto;
    min-height: 10vh; 
}
.cart-products-total-panel{
    border: 1px solid red;
    width:70%;
    margin:0 auto;
    padding:1%; 
}
.cart-products-total-amount{
    margin:2% 0;
    border: 2px solid purple;
}
.cart-products-total-checkout{
    border: 2px solid purple;
    margin-bottom:2%;
}
.cart-products-total-checkout button{
    height:40px;
    width:100%;   
}
.cart-product-checkout{
    border: 1px solid red; 
    width:20%; 
    margin-left: auto;
}
.cart-product-header{
    min-height: 20vh;
    border: 1px solid red;
}

.cart-product-panel{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width:70%;
    margin: 4% auto 5% auto;
}

.cart-product-profile{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    min-height: 10vh;
}
.cart-product-profile-image{
    border: 1px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.cart-product-profile-image div{
    border: 1px solid red;
}
.cart-product-profile-image img{ 
    border-radius: 50%; 
    height:40px;
    width:40px;
    object-fit: cover;
    object-position: center;
    border:1px solid red;
}
.cart-product-profile-info{
    border: 1px solid red;
    width:60%;
    display:flex;
    align-items: center;
}

.cart-product-profile-info div{
    border: 1px solid yellow;   
}

.cart-product-images-panel{
    display:flex;
    border: 1px solid green;
    min-height: 20vh;
    width:97%;
    margin: 1% auto 1% auto;
}
.cart-product-images-header{
    border: 1px solid red;
    min-height: 5vh;
    display:flex;
    align-items: center;
}
.cart-product-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid red;
    width:50%;
}

.cart-product-image-group{
    width:auto;
}
.cart-product-image-group img {
    width: 100%;
    height: 100%;   
}

.cart-product-info{
    border: 2px solid green;
    margin-left:auto;
    width:49%;
    display:flex;
    flex-direction: column;
}
.cart-product-info-span-group{
    border: 1px solid green;
}
.cart-product-info-span-group p{
    font-size: 1.1rem;
    font-weight: 550;   
}
.cart-product-info-span-group span{
    font-size: 1.1rem;
    font-weight: 400;   
}
.cart-product-buttons{
    border: 1px solid purple;
    min-height: 10vh;
    margin-top:auto;
    /* margin-bottom: 1%; */
}
.cart-product-buttons-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-product-buttons-header span{
    font-size: 1.1rem;
   
}
.cart-product-button-top{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    /* width: 60%; */
}
.cart-product-button-bottom{
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-product-add-button{
    min-width: 40%;
    /* border: 1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart-product-input{
    width: 20%;
    margin:0% 1%;
    border: 1px solid red;
    height:35px;
}
.cart-product-reduce-button{
    min-width: 40%;
    /* border: 1px solid green; */
    display:flex;
    justify-content: center;
    align-items: center;
} 
.cart-product-add-button-icon{
    border:1px solid blue;
    height:35px;
    width:40px;
    border-radius: 30%; 
    display:flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
}
.cart-product-add-button-icon i{
    font-weight: 800;  
}
.cart-product-remove-button{
    min-width: 100%;
    border: 1px solid black;
    min-height:55px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.cart-product-remove-button span{
    font-size: 1.1rem;
    font-weight: 400;
    
}
.cart-product-add-button button,
 .cart-product-reduce-button button,
 .cart-product-remove-button button{
    width: 100%;
    height:45px;
}
/* cart checkout panel */
.cart-checkout-panel{
    position: sticky;
    top:9vh;
    border: 2px solid red;
    width:85%;
    min-height: 20vh;
    margin:60% auto;
    display:flex;
    flex-direction: column;
    padding:2% 0;
}
.cart-checkout-info{
    border: 1px solid red;
    width:95%;
    min-height: 18vh;
    margin:auto auto;
}
.cart-checkout-span-group{
    border: 1px solid green;
    padding:5% 0;
    font-size:1.1rem;
}
.cart-checkout-span-left{
    font-weight: 550;

}
.cart-checkout-span-right{
    font-weight: 400;

}
.cart-checkout-button-wrapper{
    border: 1px solid red;
}
.cart-checkout-button{
    height:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    cursor:pointer;
    font-size:1.1rem;
    font-weight: 550;

}
.cart-checkout-button span{

}