
.upload-product-editor-modal-container-wrapper{
    background-color:var(--background-color);
    z-index:1;
    width: 80%;
    border:1px solid var(--background-color);
    position: relative;
    margin: auto;
}

.upload-product-editor-modal-child-wrapper{
    /* border: 1px solid black; */
    position: relative;
    height: 90vh;
}

.upload-product-editor-header{
    height: 13vh;
    position: sticky;
    top: 0;
    /* border-bottom: 1px solid var(--prim-border-color); */
    box-shadow: 0 0 5px var(--box-shadow-color);
    padding: 0 1rem;
    z-index: 1;
}

.upload-product-editor-header-top{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6.5vh;
}

.upload-product-editor-header-top-close{
    color: var(--text-color-opac-5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.upload-product-editor-header-top-close:hover{
    color: var(--text-color);
}

.upload-product-editor-close-icon{
    font-size: 1.2rem;
    font-weight: bold;
}

.upload-product-editor-header-bottom{
    /* border: 1px solid red; */
    display: flex;
    height: 6.5vh;
}

.upload-product-editor-nav-item{
    border-bottom: 2px solid var(--color);
    text-align: center;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.upload-product-editor-body-wrapper{
    height: 67vh;
    /* border: 3px solid red; */
    overflow-y: auto;
    position: relative;
    padding: 0 1rem;
}

.upload-product-editor-hint{
    margin: 1% 0;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    /* border: 1px solid red; */
}

.upload-product-editor-body{
    border: 1px solid var(--prim-border-color);
    display: flex;
    min-height: 100%;
}

.upload-product-editor-thumbnails{
    width: 15%;
    border-right: 1px solid var(--prim-border-color);
    overflow-y: auto;
    overflow-x: hidden;
    height: 67vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    position: relative;
}

.upload-product-editor-thumbnails:last-of-type{
    border-right: none;
    border-left: 1px solid var(--prim-border-color);
}

.upload-product-editor-thumbnails-header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--prim-border-color);
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.4rem 0;
    text-align: center;
    background-color: var(--background-color);
    color: rgba(0, 0, 0, 0.8);
}

.upload-product-editor-panel{
    width: 85%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-product-editor-image{
    width: 400px;
    height: 420px;
    border: 1px solid var(--prim-border-color);
}

.upload-product-editor-button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--prim-border-color);
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--color);
    transition: all 0.3s ease;
}

.showButton{
    display: flex;
}

.prev-button{
   left: 2%;
}

.next-button{
    right: 2%;
}

.upload-product-editor-button:hover{
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.upload-product-editor-button:focus{
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.buttonIcon{
    font-size: 1.1rem;
}

.upload-product-editor-footer{
    height: 10vh;
    position: sticky;
    bottom: 0;
    width: 100%;
    /* border-top: 1px solid var(--prim-border-color); */
    box-shadow: 0 0 5px var(--box-shadow-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2%;
}

.upload-product-editor-footer-bttn-wrrpr{
    min-width: 9%;
    /* border: 1px solid purple; */
    margin-left: 2%;
}

.upload-product-editor-footer-bttn-wrrpr button{
    width: 100%;
    border: 1px solid var(--prim-border-color);
    height: 32px;
    border-radius: 2px;
    font-size: 0.71rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.upload-product-editor-footer-bttn-wrrpr.crop button{
    background-color: var(--color-opac-8);
    color: var(--background-color);
    border: none;
}

.upload-product-editor-footer-bttn-wrrpr.crop button:hover{
    background-color: var(--color);
}