
.container{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: auto 1fr;
}

.panel{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

/* .imageWrapper{
    border: 1px solid purple;
} */

.imageWrapper img {
    max-width: 100%;
    height: 100%; 
    object-fit: contain; 
    cursor: pointer; 
}

.prevButton, .nextButton{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--prim-border-color);
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: var(--color);
    display: none;
}

.prevButton{
   left: 2%;
   animation-name: animateLeft;
   animation-duration: 1s;
}

.nextButton{
    right: 2%;
    animation-name: animateRight;
    animation-duration: 1s;
}

.showButton{
    display: flex;
}

.prevButton:hover, .nextButton:hover{
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.prevButton:focus, .nextButton:focus{
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.buttonIcon{
    font-size: 1.1rem;
}

.noBorder{
    border: none;
}

@keyframes animateLeft {
    from{
        left: -100%;
        opacity:0;
        transition:all;
    }
    to{
        right:0;
        opacity: 1;
        transition: all;
    }
}

@-webkit-keyframes animateLeft {
    from{
        left: -100%;
        opacity:0;
        transition:all;
    }
    to{
        right:0;
        opacity: 1;
        transition: all;
    }
}

@keyframes animateRight {
    from{
        right: -100%;
        opacity:0;
        transition:all;
    }
    to{
        right:0;
        opacity: 1;
        transition: all;
    }
}

@-webkit-keyframes animateRight {
    from{
        right: -100%;
        opacity:0;
        transition:all;
    }
    to{
        right:0;
        opacity: 1;
        transition: all;
    }
}

/* image slider thumbnails */
.thumbnailsContainer{
    border-right: 1px solid var(--prim-border-color);
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    overflow-y: auto;
    height: 65vh; 
}

.thumbnailsContainer::-webkit-scrollbar{
    width: 0.25rem;
}

.thumbnailWrapper{
    width: 50px;
    height: 60px;
    border: 1px solid var(--prim-border-color);
    background-color: var(--background-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: auto;
}

.thumbnailWrapperOverflow{
    margin: 1rem auto;
}

.thumbnailWrapper img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid var(--background-color);
} 

.focus{
    outline: 2px solid var(--color); 
}