.confirmations-container{
    border: 2px solid red;
    
}
.confirmations-header{
    min-height: 20vh;
    border: 1px solid red;


}
.confirmations-panel-wrapper{
   

}
.confirmations-panel{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width:96%;
    margin: 2% auto 2% auto;
}
.confirmations-profile{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    min-height: 10vh;
}
.confirmations-profile-image{
    border: 1px solid red;
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmations-profile-image div{
    border: 1px solid red;
   
}
.confirmations-profile-image img{ 
    border-radius: 50%; 
    height:40px;
    width:40px;
    object-fit: cover;
    object-position: center;
    border:1px solid red;
}
.confirmations-profile-info{
    border: 1px solid red;
    width:60%;
}
.confirmations-profile-remove{
    border: 1px solid red;
    width:20%;
    display:flex;
    justify-content: flex-end;
    /* align-items: center; */
}
.confirmations-profile-remove-icon{
    border: 1px solid red;
    height:30px;
    width:30px;
    margin-top:2%;
    margin-right: 2%;
    border-radius: 30%; 
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.confirmations-profile-remove-title{
    border: 1px solid red;
    position: absolute;
    top:15.6%;
    right:-40px;
    display: none;
    padding:0.5%;
    transition: 0.5s all  ease;
}
.confirmations-profile-remove-icon:hover .confirmations-profile-remove-title{
   display:block;  
}
.confirmations-profile-remove-icon:hover{
    cursor: pointer;   
 }

.confirmations-images-panel{
    border: 1px solid green;
    min-height: 20vh;
    width:97%;
   
    margin: 1% auto 1% auto;
    

}
.confirmations-images-header{
    border: 1px solid red;
    min-height: 5vh;
    display:flex;
    align-items: center;


}
.confirmations-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirmations-image-group{
    border:1px solid black;
    width:30%;
}
.confirmations-image-group img {
    width: 100%;
    height: auto;   
}
.confirmations-buttons{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    min-height: 10vh;

}
.confirmations-button-group{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.confirmations-button{
    width: 50%;
    /* border: 1px solid red; */
} 
.confirmations-button button{
    width: 100%;
    height:45px;
}