
.getting-started-company-heading-container{
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    margin-bottom: 2%;
}

.getting-started-company-heading{
    width:100%;
    /* border:3px solid green; */
    display:flex;
    align-items: center;
    padding: 1%;
}

.getting-started-company-heading p{
    font-size:1.2rem;
    font-weight: 550;
    color: var(--text-color);
    /* border:3px solid green; */   
}

.getting-started-company-tabs-container{
    /* border:3px solid red; */
    margin-bottom: 2%;
}

.tabs-label{
    font-size: 0.9rem;
    font-weight: 510;
    color: var(--text-color-opac-6);
}

.getting-started-company-tabs{
    /* border:1px solid purple; */
    display: flex;
    width: 100%;
    margin-top: 1%;
}

.getting-started-company-tabs-child{
    box-shadow: 0 0 2px var(--box-shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 1rem;
    border-radius: 4px;
    color: var(--color);
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.getting-started-company-tabs-child:last-of-type{
    margin-right: 0;
}

.getting-started-company-tabs-child:hover{
    color: var(--background-color);
    background-color: var(--color-opac-8);
    /* border: 1px solid var(--color); */
    
}

.getting-started-company-tabs-child.active{
    color: var(--background-color);
    background-color: var(--color);
}

/* .getting-started-company-form-inputs{

    border:3px solid blue;

} */

.getting-started-company-form-inputs .brand-name{
    font-size: 0.9em;
    font-weight: 400;
    color: var(--text-color);
}

.getting-started-company-form-group-child-container{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
}

.getting-started-company-form-group-child{
    /* border:3px solid blue; */
    width: 45%;
}

.company-form-group{
    display: flex;
    margin-bottom: 0.4rem;
    width:100%;
    /* border: 2px solid purple; */
    font-size: 0.9rem;
    font-weight: 510;
    color: var(--text-color);
}

.company-form-group label{
    color: var(--text-color-opac-6);
}

.company-form-group span{
    margin-left: 0.3rem;
    color: var(--color);
}

@media only screen and (max-width:500px) {

}