
.getting-started-company-heading-container{
    min-height: 20vh;
    display:flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    margin-bottom: 2%;
}

.getting-started-company-heading{
    width:100%;
    /* border:3px solid green; */
    display:flex;
    align-items: center;
    padding: 1%;
}

.getting-started-company-heading p{
    font-size:1.2rem;
    font-weight: 550;
    color: var(--text-color);
    /* border:3px solid green; */   
}

.getting-started-company-tabs-container{
    /* border:3px solid red; */
    display: flex;
    margin-bottom: 2%;
}

.getting-started-company-tabs{
    /* border:1px solid purple; */
    min-height: 7vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.getting-started-company-tabs-child{
    width: 48%;
    border:1px solid var(--prim-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    color: var(--text-color);
    transition: all 0.2s ease;
    font-size: 0.9rem;
}

.getting-started-company-tabs-child:hover{
    color: var(--color);
    color: var(--background-color);
    border: none;
    border: none;
    background-color: var(--color);
}

.getting-started-company-tabs-child.active{
    color: var(--background-color);
    font-weight: 550;
    border: none;
    border: none;
    background-color: var(--color);
}

/* .getting-started-company-form-inputs{

    border:3px solid blue;

} */

.getting-started-company-form-inputs .brand-name{
    font-size: 0.9em;
    font-weight: 400;
    color: var(--text-color);
}

.getting-started-company-form-group-child-container{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
}

.getting-started-company-form-group-child{
    /* border:3px solid blue; */
    width: 45%;
}

.company-form-group{
    display: flex;
    margin-bottom:1%;
    width:100%;
    /* border:2px solid purple; */
    min-height: 1.3rem;
}

.company-form-group label{
    font-size: 0.781em;
    font-weight: bold;
    color: var(--text-color);
}

.company-form-group label span{
    font-size: 0.9em;
    font-weight: bold;
    color: var(--color);
}