




.landing-container{
    border:1px solid black;
    display:flex;
    flex-direction: column;
}
.landing-top{
    border:1px solid green;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.landing-info-card-contr{
    border:1px solid red;
    width:50%;
    margin:5% auto 1% auto;
    min-height:60vh;
    padding: 0.5%;
}
.landing-info-card-text{
    border:1px solid green;
    min-height:45vh;

}
.landing-info-card-button{
    border:1px solid green;
    min-height:15vh;
    display:flex;
    flex-direction: row;
    justify-content: center;


}
.landing-info-card-login{
    border:1px solid black;
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.landing-info-card-login button{
    height:45px;
    width:70%;
    margin:0 auto 0 auto;
}
.landing-info-card-signup{
    border:1px solid black;
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.landing-info-card-signup button{
    height:45px;
    width:70%;
    margin:0 auto 0 auto;
}
.landing-center{
    border:1px solid red;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.landing-center-1{
    border:1px solid black;
    width:30%;
  
}
.landing-center-2{
    border:1px solid black;
    width:30%;
  
}
.landing-center-3{
    border:1px solid black;
    width:30%;
  
}
.landing-footer{
    margin-top: 2%;
    border:1px solid purple;


}