




.landing-container{
    border:1px solid black;
    display:flex;
    flex-direction: column;
}
.landing-top{
    border:1px solid green;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.landing-info-card-contr{
    display:flex;
    flex-direction: column;
    border:1px solid red;
    width:50%;
    margin:5% auto 1% auto;
    min-height:60vh;
    padding: 0.5%;
}
.landing-info-card-text-container{
    /* border:1px solid green; */
    display:flex;
    flex-direction: column;
}
.landing-info-card-text-heading{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.landing-info-card-text-heading h3{
    font-size:3rem;
}

.landing-info-card-text-paragraph{
    /* border:1px solid red; */
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.landing-info-card-text-paragraph span{
    text-align: center;
    /* border:1px solid red; */
    font-size:1.5rem;
    font-weight: 400;
    width:90%;  
}
.landing-info-card-button{
    border:1px solid #222;
    min-height:15vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
}
.landing-info-card-login{
    /* border:1px solid black; */
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.landing-info-card-login a{
    width:70%;
    margin:0 auto 0 auto;  
}
.landing-info-card-login button{
    border:1px solid #222;
    height:50px;
    width:100%;
    margin:0 auto 0 auto;
    font-size: 0.9rem;
    border-radius: 4px;
    font-weight: bold;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
}
.landing-info-card-signup{
    /* border:1px solid black; */
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.landing-info-card-signup a{
    /* border:1px solid #222; */
    width:70%;
    margin:0 auto 0 auto;
}
.landing-info-card-signup button{
    border:1px solid #222;
    border-radius: 4px;
    height:50px;
    width:100%;
    margin:0 auto 0 auto;
    font-size: 0.9rem;
    font-weight: bold;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
}
.landing-center{
    border:1px solid red;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.landing-footer{
    margin-top: 2%;
    border:1px solid purple;


}

.landing-error-container{
    border:1px solid red;
    position: fixed;

}

.landing-error-modal{
    border:1px solid red;

}