
.profile-avatar-container{
    /* border:1px solid var(--prim-border-color);*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    padding: 2% 2%;
  
}

.profile-avatar-image{
    border: 2px solid var(--prim-border-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.profile-avatar-image img{
    border-radius: 50%; 
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.profile-avatar-username{
    /* border:1px solid red; */
    color: var(--text-color-opac-8);
    font-weight: 510;
    font-size: 0.9rem;
}
