

.index-side-nav{
    /* border:1px solid var(--prim-border-color); */
    border-radius: 6px;
    display:flex;
    flex-direction: column;
    margin: auto auto;
    width: 100%;
}

/* .index-side-nav-item{
    border:1px solid green;
} */

.index-side-nav-link{
    display:flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition:all 0.1s ease;
    color: var(--color);
    padding:5% 2%;
    /* border:1px solid red; */
    height: 100%;
    width: 100%;
    min-height: 7vh
}

.index-side-nav-link:hover {
    background-color: #e0e0e0;
}

.index-side-nav-item > .index-side-link-active{
    color: var(--no-color);
    background-color:var(--color); 
}

.index-side-nav-link-open-icon{
    /* border:1px solid green; */
    margin-left: auto;
    margin-right: 10%;
    font-size: 1.2rem;
    font-weight:bold;
   display: none;
   transition:all 0.1s ease;
}

.index-side-nav-link i{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding :0.2rem;
}

.index-side-nav-link:hover .index-side-nav-link-open-icon {
   display: block;
}

.index-side-nav-link-open-icon.open{
    display: block;
}

.index-side-nav-link.active{
    border-radius: 0;
}

.index-side-nav-icon{
    width: 1.2em;
    height:1.2em;
}

/* .index-side-nav-accordion-cntr{
   
    border:1px solid red;

} */

.index-side-nav-nested-items-container{
    /* border-bottom:1px solid var(--prim-border-color); */
    margin-left: auto;
    margin: 5% 0 0 0;
}