

.index-side-nav{
    /* border:1px solid var(--prim-border-color); */
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .index-side-nav-item{
    border:1px solid green;
} */

.index-side-nav-link{
    display:flex;
    align-items: center;
    text-decoration: none;
    transition:all 0.1s ease;
    color: var(--text-color-opac-8);
    padding: 0.5rem 0.2rem;
    border-radius: 0 28px 28px 0;
    height: 100%;
    width: 100%;
    min-height: 7vh;
    font-size: 0.9rem;
    font-weight: 510;
    border: 1px solid var(--background-color);
    border-left: 2px solid var(--background-color);
}

.index-side-nav-link:hover {
    background-color: var(--hover-link-bg-color);
    border-left: 2px solid var(--color);
}

.index-side-nav-item > .index-side-link-active{
    color: var(--color);
    background-color: var(--active-link-bg-color);
    border: 1px solid var(--prim-border-color);
    border-left: 2px solid var(--color);
    font-weight: 550;
}

.index-side-nav-link-open-icon{
    /* border:1px solid green; */
    margin-left: auto;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight:bold;
    display: none;
    transition: all 0.2s ease;
}

.index-side-nav-link i{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding : 0.2rem;
    /* border:1px solid green;  */
    margin-right: 0.8rem;
}

.index-side-nav-link:hover .index-side-nav-link-open-icon {
   display: block;
}

.index-side-nav-link-open-icon.open{
    display: block;
}


.index-side-nav-icon{
    font-size: 1.3rem;
}

/* .index-side-nav-accordion-cntr{
   
    border:1px solid red;

} */

.index-side-nav-nested-items-container{
    border-left:1px solid var(--prim-border-color);
}