
.getting-started-profile-image{
    min-height: 20vh;
    width:26%;
    padding:0.5% 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
}

.getting-started-profile-image img{
    border-radius: 50%; 
    height:140px;
    width:140px;
    object-fit: cover;
    object-position: center;
    border:1px solid red;
    /* border:1px solid red; */
}
.getting-started-input{
    border:1px solid red;
    /* width:100px; */
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.getting-started-input-icon{
    border:1px solid red;
     background-color: red;
}
.getting-started-input input{
    width:65px;
}
.getting-started-error{
    /* border:1px solid red; */
    height:25px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.getting-started-error span{
    color: rgb(224, 44, 44);
}

.getting-started-profile-image-info{
    display:flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding:1%;
}
.getting-started-profile-image-info .brand-name{
    font-size: 0.9em;
    font-weight: 400;
    /* border: 1px solid black;  */
}
.getting-started-profile-image-info div{
    min-height:5vh;
    margin-bottom:1%;
    /* border:1px solid red; */
}
.getting-started-info-group{
    font-size: 0.9em;
    font-weight: bold;
}
.getting-started-profile-image-buttons{
    min-height: 15vh;
    border:1px solid red;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:auto;
}
.getting-started-profile-image-back-button{
    border:1px solid red;
    width:30%;
    margin-left: 1%; 
}
.getting-started-profile-image-back-button button{
    width:100%;
    height:45px;
}
.getting-started-profile-image-upload-button{
    border:1px solid red;
    width:30%;
    margin-right: 1%;
}
.getting-started-profile-image-upload-button button{
    width:100%;
    height:45px;
}