
.container{
    display:flex;
    align-items: center;
    color: var(--sec-color);
    /* border: 1px solid red; */
    cursor: pointer;
}

.starIcon{
    font-size: 1.5rem;
}

@media only screen and (max-width:500px) {
    .starIcon{
        font-size: 1.3rem;
    }

}