.reviewsContainer{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index:1;
    overflow-y:scroll;
    z-index: 22;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green;    */
}
    
.wrapper{
    background-color: var(--no-color);
    width: 90%;
    z-index: 1;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    margin-left: auto;  
    position: fixed;
    right: -100%; 
}

.show{
    right: 0;
}
  
.bttnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--prim-border-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--prim-border-color);
    font-weight: bold;
    transition: all 0.2s ease;
    position: fixed;
    left: 2%;
    top: 2%; 
}
    
.bttnWrapper:hover{
    border: 2px solid var(--prim-border-color);
}

.panel{
    /* border:2px solid yellow; */
    display:flex;
    justify-content: space-between;
}

.productWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
    width: 40%;
    padding: 1%;
}

.reviewsPanel{
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
    background-color: var(--background-color);
    width: 60%;
    padding: 1%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}
  
/* style for export modalBox component */
.modalBoxContainer{
    background-color:var(--no-color);
    width:70%;
    z-index:1;
    animation-duration:0.6s;
    border-radius: 4px;
    padding:1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;  
}

.modalBoxBttnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--prim-border-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--prim-border-color);
    font-weight: bold;
    transition: all 0.2s ease;
    position: fixed;
    right: 2%;
    top: 2%;
}

.modalBoxBttnLeftWrapper{
    left: 2%;
    right: unset; 
}


@media screen and (max-width:600px){

    
}

@media only screen and (max-width:500px) {
    .productWrapper{
        display: none;
    }

    .reviewsPanel{
        width: 100%;
        padding: 1rem;
    }   
}