
.notifications-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.notifications-dropdown-container-wrapper{
    position: relative;
    /* border: 2px solid red; */
    width : 40px;
}

.notifications-dropdown-container{
    position: absolute;
    height: 75vh;
    overflow-y: scroll; 
    top: 0.5rem;
    right: -1rem;
    width: 310px;
    background-color: var(--background-color);
    box-shadow: 0px 3px 5px var(--box-shadow-color);
    border-radius: 4px;
}

.notifications-dropdown-header{
    position: sticky;
    top: 0;
    font-weight: 510;
    color: var(--color);
    display: flex;
    box-shadow: 2px 0 4px var(--box-shadow-color);
    border-bottom: 1px solid var(--prim-border-color);
    padding: 0.8rem;
    background-color: var(--background-color);
    z-index: 1;
}

.notifications-dropdown-wrapper{
    border-radius: 4px;
    /* border: 1px solid red; */
    padding: 0 0.8rem;
    min-height: 68vh;
    display: flex;
    flex-direction: column;
}

.notifications-icon-wrapper{
    color: var(--text-color-opac-8);
    border: 1px solid var(--prim-border-color);
    width : 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.notifications-open{
    box-shadow: 0px 0px 4px var(--box-shadow-color);
    color: var(--color);
}

.notifications-icon-wrapper:hover{
    color: var(--color);
    box-shadow: 0px 0px 4px var(--box-shadow-color);
}

.notification-icon{
    font-size:1.3rem;
}

.notifications-icon-alert{
    color: var(--sec-color);
    /* border:1px solid var(--prim-border-color); */
    width: 7px;
    height: 7px;
    border-radius: 50%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right:10%;
    background-color: var(--sec-color);
}

.notification-container{
    /* border:1px solid var(--prim-border-color); */
    box-shadow: 0px 0px 3px var(--box-shadow-color);
    background-color: var(--background-color);
    margin-top: 4%;
    margin-bottom: 3%;
    border-radius: 6px;
    padding: 4%;
    position: relative;
}

.notification-header{
    border-bottom:1px solid var(--prim-border-color);
    display:flex;
    flex-direction: row;
    color: var(--text-color);
    padding-bottom: 2%;
}

.notification-image{
    display: flex;
    align-items: center;
    /* border:2px solid black; */
    margin-right: 0.4rem;
}

.notification-image img{
    margin-top: 5%;
    border-radius: 50%; 
    height:32px;
    width:32px;
    object-fit: cover;
    object-position: center;
    /* border:1px solid red; */
}

.notification-name{
    /* border:2px solid black; */
    font-size: 0.9rem;
    font-weight: 550;
    min-width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification-details{
    /* border:1px solid black; */
    color: var(--text-color);
    font-size: 0.95rem;
}

.notification-time{
    /* border:2px solid black; */
    font-size: 0.8rem;
    width:100%;
    display: flex;
    flex-direction: column;
    color: var(--text-color-opac-5);
}

.notification-remove{
    /* border:2px solid black; */
    position: absolute;
    top: 4%;
    right: 4%;
    color: var(--text-color-opac-5);
    font-weight: bold;
    cursor: pointer;
}