
  /* sort/filter/select styles */

  .checkoutOptionsContainerOpen{
    height: 7.2rem;
    border-radius: 8px;
    border: 1px solid var(--prim-border-color);
    box-shadow: 0 0 4px var(--box-shadow-color);
}

.checkoutOptionsContainer{
    min-width: 14.5rem;
}