
.store-edit-product-selector-container{
    /* border: 1px solid red; */
    position: relative;
    min-height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.store-edit-product-back-button{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--color);
    box-shadow: 0px 4px 8px var(--box-shadow-color);
    cursor: pointer;
}

.store-edit-product-back-button button{
    color: var(--color);
    border: none;
    background: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.store-edit-product-selector-link{
    /* border: 1px solid red; */
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    box-shadow: 0px 4px 8px var(--box-shadow-color);
    background-color: var(--color); 
}

.store-product-empty-edit-container{
    /* border: 1px solid red; */
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.store-edit-product-detail-container{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--prim-border-color);
}

.store-edit-product-detail-container:last-of-type{
    border-bottom: none;
}

.store-edit-product-details-group-left{
    /* border: 3px solid red; */
    color: var(--text-color);
}

.store-edit-product-details-group-right{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.store-edit-product-detail-label{
    font-weight:550;
    color: var(--text-color-opac-9)
}

.store-edit-product-detail{
    font-size: 0.85rem;
    color: var(--text-color-opac-5);
}

.store-icon-edit{
    font-size:1.2rem;
    cursor: pointer;
}

.store-edit-product-button{ 
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
    color: var(--color); 
    background-color: var(--background-color); 
    border: 1px solid var(--prim-border-color);
    border-radius: 50%;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.store-edit-product-button:hover{
    /* transform: scale(1.01); */
    box-shadow: 0 0 5px var(--box-shadow-color);    
}

.store-edit-product-button:focus{
    outline: 2px solid var(--color);
}

/* styles for modal fomr*/
.edit-product-form-container{
    width: 32%;
    margin: auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.8);
    background: var(--background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.edit-product-form-close{
    /* border: 1px solid red; */
    padding: 0.8rem 0.4rem 0 0;
    position: relative;
}

.edit-product-form-close-button{
    width: 36px;
    height: 36px;
    border: 1px solid var(--background-color);
    color: rgb(253, 151, 168);
    color: var(--text-color-opac-5);
    background: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.edit-product-form-close-button:hover{
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.edit-product-icon{
    font-size: 1.2rem;
}

.edit-product-form-body{
    padding: 0.8rem 2.5rem;
    /* border: 1px solid red; */
}

.edit-product-form-container form{
    width: 100%;
    /* border: 3px solid red; */
}


.edit-product-form-container textarea{
    width: 100%;
    border: 1px solid var(--prim-border-color);
    caret-color: var(--caret-color);
    border-radius: 2px;
    transition: all 0.3s ease;
    color: var(--text-color);
    padding: 8px;
    caret-color: var(--text-color); 
    resize: vertical; 
    outline: 2px solid var(--prim-border-color);
    font-size: 0.83rem;
}

.edit-product-form-container textarea:focus,
.edit-product-form-container select:focus{
    outline: 2px solid var(--color);
}

.edit-product-form-container textarea.not-empty,
.edit-product-form-container select.not-empty{
    outline: 2px solid var(--color); 
}

.edit-product-form-container textarea.has-error,
.edit-product-form-container select.has-error{
    outline: 2px solid rgb(250, 93, 93); 
}

.edit-product-form-container select{
    width: 100%;
    height: 40px;
    text-align: center;
    color: var(--text-color); 
    background-color: var(--background-color);
    border: 1px solid var(--prim-border-color);
    outline: 2px solid var(--color);
    border-radius: 4px;
    cursor: pointer;
}

.edit-product-form-container select:hover{
    cursor: pointer;
}


.store-edit-product-save-button{
    padding: 9px 12px;
    margin: 1rem 0 0 auto;
    border-radius: 28px;
    background-color: var(--color-opac-8);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.store-icon-save{
    font-size: 1rem;
    margin-right: 0.3rem;
}

.store-edit-product-save-button:hover{
    background-color: var(--color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);    
}

.store-edit-product-save-button:focus{
    outline: 2px solid var(--prim-border-color); 
}


/* styles for product images */
.store-product-edit-image-container{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* styles for empty edit */
/* .edit-product-empty-empty-wrapper{

} */

.edit-product-empty-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--prim-border-color); */
    box-shadow:0 0 5px var(--box-shadow-color);
    justify-self: center;
    border-radius: 6px;
    padding: 2%;
    min-height: 55vh;
    width: 70%;
}

/* .edit-product-empty-panel{

} */

.edit-product-empty-content{
    /* border: 2px solid blue; */
    margin-bottom: 2%;
    color: var(--text-color-opac-9);
    max-width: 400px;
}

.edit-product-empty-content-writeup{
    color: var(--text-color-opac-5);
}

.edit-product-empty-content h3{
    font-size: 1.2rem;
    font-weight: 550;
}

.edit-product-empty-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    width: 100%;
    margin-top: 2%;
}

.edit-product-empty-button-wrapper{
    /* border: 2px solid purple; */
    display: flex;
    min-width: 25%;
}

.edit-product-empty-button-wrapper a{
    /* border: 1px solid var(--color); */
    border-radius: 2px;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--background-color);
    background-color: var(--color-opac-8);
    min-width: 100%;
    height: 44px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-product-empty-button-wrapper a:hover{
    background-color: var(--color);    
}

.edit-product-empty-button-wrapper a:focus{
    outline:1px solid var(--opaque-color);      
}