
.landing-product-heading{
    /* border: 1px solid var(--prim-border-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: 1.3em;
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}
.landing-product-container{
    border:1px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;  
}

.landing-view-products-btn-cntr{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    padding:2%;
}

.landing-view-products-btn-wrapper{
    display: flex;
    /* border: 1px solid purple; */
    min-width: 17%;
}

.landing-view-products-btn-wrapper button{
    border-radius: 4px;
    height:47px;
    width: 100%;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid var(--prim-border-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.landing-view-products-btn-wrapper a{
    text-decoration: none;
    color: var(--color);
    transition: all 0.3s ease;
    margin-right: 0.7rem;
    /* border:1px solid red;  */
}

.landing-view-products-btn-icon{
    color: var(--color);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.landing-view-products-btn-wrapper button:hover{
    border:1px solid var(--opaque-color);
    background-color: var(--color);  
}

.landing-view-products-btn-wrapper button:hover a{
    color: var(--background-color); 
}

.landing-view-products-btn-wrapper button:hover .landing-view-products-btn-icon{
    color: var(--background-color); 
}

.landing-view-products-btn-wrapper button:focus{
    outline: 1px solid var(--outline-color); 
}