
.landing-product-heading{
    /* border:1px solid blue; */
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.3em;
    min-width:95%;
    margin: 0 auto;
}
.landing-product-container{
    /* border:1px solid green; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;  
}


.landing-product-panel{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--prim-border-color);
    box-shadow:0 0 2px var(--box-shadow-color);
    width:22%;
    margin: 2% 0 2% 0;
    min-height:65vh;
    padding:1%;
}


.landing-view-products-btn-cntr{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    padding:2%;
}
.landing-view-products-btn-wrapper{
    /* border: 1px solid purple; */
    min-width:15%;
}
.landing-view-products-btn-wrapper a{
  text-decoration: none;
  color: #ffffff;

}
.landing-view-products-btn-wrapper button{
    border:1px solid #222;
    border-radius: 4px;
    height:45px;
    width:100%;
    margin:0 auto 0 auto;
    font-size: 0.9rem;
    font-weight: bold;
    transition:all 0.3s ease;
    cursor:pointer;
    border-radius: 30px;
    border:1px solid var(--prim-color);
    background-color: var(--prim-color);
}
.landing-view-products-btn-wrapper button:hover{
    border:1px solid var(--opaque-prim-color);
   background-color: var(--opaque-prim-color);
   
}

.landing-view-products-btn-wrapper button:focus{
    outline: 1px solid var(--outline-color); 
}