
.container{
    /* border: 2px solid red; */
    padding: 0 1rem;
    /* position: relative; */
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
}

.emptyProductsContainer{
    padding: 1rem 0;
    /* border: 2px solid red; */
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.uploadIcon{
    margin-right: 0.3rem;
    font-size: 1rem;
}

.fliterButtonContainer{
    margin: 1rem 0;
    position: sticky;
    top: 4rem;
    /* border:2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.productsContainer{
    /* border: 2px solid purple; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    min-height: 30vh;
}

.productPanel{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--prim-border-color);
    background-color: var(--background-color);
    width: 18%;
    margin: 0 1% 2% 1%;
    min-height:  60vh;
    padding: 1%;
    transition: all 0.2s ease;
}
.productPanel:hover{
    box-shadow:0 0 3px var(--box-shadow-color);
}


/* pagination  */
.paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    min-height: 7vh;
}
