.container{
    /* border: 2px solid red; */
    padding: 0 1rem;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f8f8;
}

.emptyProductsContainer{
    padding: 1rem 0;
    /* border: 2px solid red; */
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.uploadIcon{
    margin-right: 0.3rem;
    font-size: 1rem;
}

.fliterButtonContainer{
    margin: 1rem 0;
    position: sticky;
    top: 4rem;
    /* border:2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.productsContainer{
    /* border: 2px solid purple; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    min-height: 30vh;
}

/* pagination  */
.paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    min-height: 7vh;
}