
.header-container{
    min-height:var(--top);
    position:sticky;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 8;
    background-color: var(--bg-color);
    /* border:1px solid var(--color); */
    box-shadow:0 0 8px var(--box-shadow-color);
}

.header-logo{
    width:33%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.header-logo-img{
    /* border:1px solid red; */
    width: 59px;
    height: 24px;
    display: flex;
}

.header-logo-img a{
    /* border:1px solid purple; */
    width: 100%;
    height: 100%;
}

.header-logo-img img{
    width: 100%;
    height: 100%;
}

.header-main-navigation{
    /* border:1px solid green; */
    width:33%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.header-main-navigation nav{
    width:100%;
    /* border: 1px solid yellow; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav-item{
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:15%;
    position: relative; 
}

.header-notifications-icon-alert{
    color: var(--sec-color);
    /* border:1px solid var(--prim-border-color); */
    width: 7px;
    height: 7px;
    border-radius: 50%;
    z-index: 1;
    background-color: var(--sec-color);
}

.main-nav-link{ 
    position: relative; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition:color 0.3s ease;
    color: var(--color);
    border: 1px solid var(--background-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

 .main-nav-link:hover {
    background-color:var(--hover-link-bg-color);
     border: 1px solid var(--prim-border-color);
    box-shadow: 0 0 5px var(--box-shadow-color);
}

 .main-nav-link-active{
    background-color:var(--active-link-bg-color);
    border: 1px solid var(--prim-border-color);
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.header-search-bar{
    /* border:1px solid blue; */
    width:33%;
    display: flex;
    padding-right: 2%;
    justify-content: center;
}

.header-search-bar-form-panel{
    /* border:1px solid purple; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width:100%;
}

.header-mobile-nav-container{
    width:100%;
    /* border:1px solid red; */
    display:none;
    justify-content: flex-end;

}

.header-mobile-nav-icon{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    cursor:pointer;
    color: var(--color);
    /* border:1px solid red; */
}

.header-search-bar-form-panel form{
    width:100%;
    /* border:1px solid green; */
    display:flex;
    justify-content: flex-end;
}

.header-search-bar-form-panel form input{
    width:70%;
    height: 35px;
    border: 1px solid var(--prim-border-color);
    border-radius: 6px;  
    color: var(--color);
    caret-color: var(--prim-color);
    padding: 0 2% 0 2%;
}

.header-search-bar-form-panel form input:focus{
    border:1px solid var(--color);
    outline: 1px solid var(--main-color); 
}

.header-search-bar-form-panel form button{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 35px;
    width: 15%;
    margin-left: 1%;
    cursor:pointer;
    background-color: var(--background-color); 
    color: var(--color);
    border: 1px solid var(--color);
    border-radius: 4px; 
    font-weight: bold; 
    transition: all 0.2s ease;   
}

.header-search-bar-form-panel form button:focus{
    outline: 1px solid var(--main-color);        
}

.header-search-bar-form-panel form button:hover{
    background-color: var(--color); 
    color: var(--background-color);
    border:1px solid var(--color);        
}

@media only screen and (max-width:500px) {
    
    .header-container{
       
        min-height:9vh;
        padding:0.5% 0;
    }
    .header-logo{
        /* width:33%; */
        /* align-items: center; */
    }
    .header-mobile-nav-container{ 
        display:flex;
    }
    .header-logo{
        width:20%;
        
    }
    .header-main-navigation{
        /* border:1px solid green; */
        width:58%;
    }
    .header-search-bar{
        /* border:1px solid blue; */
        width:20%; 
    }
    .header-search-bar-form-panel form{
        display:none;     
    }
    .main-nav-item{
       
        width:20%;
    }
    .main-nav-link{  
        padding: 8%;
    }
 
}

@media only screen and (max-width:414px) {
    

}

@media only screen and (max-width:360px) {


}
@media only screen and (max-width:290px) {
    .nav-icon{
        font-size:1em;
    }
    .main-nav-link{  
       
        padding: 5%;
        border-radius: 30%;
        border:1px solid var(--color);
    }


}