
.getting-started-application-template-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 92vh;
    /* border: 4px solid blue; */
    position: relative;
}

.getting-started-application-template-panel{
    display:flex;
    flex-direction:column;
    width: 70%;
    min-height:50vh;
    margin-left:auto;
    margin-right: auto;
    margin-top:2.5%;
    margin-bottom:2%;
    position:relative;
    border:1px solid var(--prim-border-color);
    border-radius: 6px;
    padding: 3%;   
}

.getting-started-application-template-heading-container{
    min-height: 20vh;
    display:flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    margin-bottom: 2%;
}

.getting-started-application-template-heading{
    width:70%;
    /* border:3px solid green; */
    display:flex;
    align-items: center;
}

.getting-started-application-template-avatar{
    min-height: 20vh;
    display:flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    margin-bottom: 2%;
}

.getting-started-application-template-img{
    min-height: 20vh;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:30%;
    /* border: 1px solid red; */
}

.getting-started-application-template-img img{
    border-radius: 50%; 
    height:140px;
    width:140px;
    object-fit: cover;
    object-position: center;
    /* border:1px solid red; */
}

.getting-started-application-template-heading p{
    font-size:1.2rem;
   font-weight:550;
   color: var(--text-color);
   /* border:3px solid green; */   
}

.getting-started-application-template-body{
    /* border:2px solid red; */
    display:flex;
    flex-direction: column;
}

/* .getting-started-contact-form-inputs{
   
} */

.getting-started-application-template-form-inputs .brand-name{
    font-size: 0.9em;
    font-weight: 400;
    color: var(--text-color-opac-5);
}

.getting-started-application-template-body form {
    position:relative;
    min-height:40vh;
    display:flex;
    flex-direction: column;
    /* border:1px solid yellow; */
}

.getting-started-application-template-form-group{
    display: flex;
    padding-top: 2.5%;
    margin-top:2%;
    margin-bottom:1%;
    width:99%;
    /* border:2px solid purple; */
}

.getting-started-application-template-form-group.brand-name-label{
    padding-top: 0%;
    margin-top:1%;
    margin-bottom:1%;
    /* border:2px solid green; */
}

.getting-started-application-template-form-error{
    display: flex;
    justify-content: flex-end;
    padding-top: 0.2%;
    width:100%;
    /* border:2px solid red; */
    min-height: 25px;
    color:var(--error-color);
}

.getting-started-application-template-form-error i{
    display: flex;
    align-items: center;
    margin-right: 1%;
    /* border:1px solid red; */
}

.getting-started-application-template-form-error span{
    display: flex; 
}

.getting-started-application-template-form-group label{
    font-size: 0.781em;
    font-weight: bold;
    color: var(--text-color);
}

.getting-started-application-template-form-group label span{
    font-size: 0.9em;
    font-weight: bold;
    color: var(--color);
}

.getting-started-application-template-body form input,.getting-started-application-template-body form textarea{
    width:100%; 
    padding:12px 12px 12px 5px;
    border:1px solid var(--prim-border-color);
    caret-color:var(--prim-color);
    border-radius: 4px;
    outline:none;  
    transition: border-color 0.3s ease;
    color: var(--text-color);
    resize: none;
}

.getting-started-application-template-body form input:focus{
    border:1px solid var(--text-color);  
}

.getting-started-application-template-body form textarea:focus{
    border:1px solid var(--text-color);  
}

.getting-started-application-template-body form input.not-empty{
    border-color: var(--text-color);
}

.getting-started-application-template-body form textarea.not-empty{
    border-color: var(--text-color);
}

.getting-started-application-template-buttons{
    min-height: 15vh;
    border-radius: 6px;
    /* border:1px solid var(--prim-border-color); */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.getting-started-application-template-back-button{
    width:21%;
}

.getting-started-application-template-back-button button{   
    width:100%;
    height: 43px;
    color: var(--color);
    border:1px solid var(--prim-border-color);
    border-radius: 4px;
    background-color: var(--background-color);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.8rem;
    font-weight: bold;
}

.getting-started-application-template-back-button button:hover{   
    box-shadow:0 0 4px var(--box-shadow-color);
}

.getting-started-application-template-next-button{
    width:21%;
}

.getting-started-application-template-next-button button{
    width:100%;
    height: 43px;
    color: var(--bg-color);
    border: none;
    background-color:var(--color-opac-8);
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    transition:all 0.2s ease;
    cursor:pointer;
}

.getting-started-application-template-next-button button:hover{
    background-color: var(--color); 
}

.getting-started-application-template-body form select{
    padding:12px 12px 12px 1%;
    border-radius: 4px;
    outline:none;  
    width:100%;
    color: var(--text-color-opac-5);
    border:1px solid var(--prim-border-color);
    transition: border-color 0.3s ease;
    cursor:pointer;
    background-color: var(--background-color);
    /* background-color: #ebebeb; */
}

.getting-started-application-template-body form select:focus{
    color: var(--text-color);
    border:1px solid var(--text-color); 
}

.getting-started-application-template-body form select.not-empty{
    color: var(--text-color-opac); 
    border:1px solid var(--text-color);
}

.getting-started-application-template-body.location form  textarea{
    width:100%; 
}