
.container{
    min-height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.containerChild{
    /* border: 1px solid var(--prim-border-color); */
    border-radius: 4px;
    margin: auto;
    width: 90%;
}
