
.store-collections-container{
    display: flex;
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.store-collections-wrapper{
    width: 70%;
    height: 80vh;
    overflow-y: auto;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
    /* z-index: 1; */
}

.store-collections-wrapper-box-shadow{
    box-shadow: inset 0 0 3px var(--box-shadow-color);
}


.empty-collections{
    grid-template-columns: auto;
}

.store-collection{
    border: 1px solid var(--prim-border-color);
    /* box-shadow: 0 0 2px var(--box-shadow-color); */
    border-radius: 4px;
    margin-bottom: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store-collection-no-bottom-margin{
    margin-bottom: unset;
}

.store-collection-kebab-contr{
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.store-collection-total-products{
    /* border: 1px solid var(--prim-border-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.3rem;
    /* font-size: 0.9rem; */
    color: var(--color);
}

.store-collection-kebab-wrapper{
    position: relative;
    /* border:1px solid blue; */
    margin-bottom: 4%;
}

.store-collection-kebab{
    border: 1px solid var(--prim-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.store-collection-icon{
    font-size: 1.2rem;
    /* border: 1px solid red; */
    /* color: var(--text-color); */
}

.store-collection-image{
    /* border: 1px solid red; */
    height: 5rem;
    width: 100%;
}

.store-collection-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.store-collection-name{
    min-height: 6rem;
    /* border-top: 1px solid var(--prim-border-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebf8ff;
    border-radius: 4px;  
}

.store-collection-name h3{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

.store-collection-bttn-contr{
    /* border: 1px solid blue; */
    margin-top: 4%;
}

.store-collection-bttn{
    border: 1px solid var(--prim-border-color);
    min-width: 60%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--color);
}

.store-collection-bttn:hover{
    background-color: var(--color);
    color: var(--background-color);
    border-color: var(--color); 
}

/* styles for create collection */
.store-create-collection-container{
    width: 30%;
    /* border: 1px solid green; */
    border-left: 1px solid var(--prim-border-color);
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    /* z-index: 1; */
}

.store-create-collection-wrapper{
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease;
    margin: auto;
}

.store-create-collection-wrapper h3 {
    font-size: 1.2rem;
    font-weight: 550;
    margin: 0 0 10px 0;
    color: var(--text-color);
}

.store-create-collection-writeup{
    font-size: 1rem;
   font-weight: 400;
    margin-bottom: 16px;
    color: var(--text-color-opac-5);
}

.store-create-collection-bttn-wrpr{
    /* border:1px solid blue; */
    margin-top: 0.2rem;
    display:flex;
    justify-content: center;
}

.store-create-collection-bttn{
    border: 1px solid var(--prim-border-color);
    height: 100%;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 28px;
    font-size: 0.9rem;
    font-weight: 600;
    transition:all 0.2s ease;
    cursor:pointer;
    background-color: var(--background-color);
    color:var(--color);
}

/* collection products modal box wrapper */
.store-collection-modal-child-wrapper{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    background-color: var(--no-color);
    width: 80%;
    height: 100vh;
    z-index: 1;
    overflow-y: auto;
    scrollbar-width: auto; 
    background-color: var(--no-color);
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    margin-left: auto;  
    position: fixed;
    left: -100%;
}

.store-collection-modal-child-wrapper-show{
    left: 0;
}

.store-collection-modal-heading{
    text-align: center;
    position: sticky;
    top:0;
    box-shadow: 0 1px 5px var(--box-shadow-color);
    background-color: var(--background-color); 
    transition: all 0.2s ease; 
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center; 
}

.store-collection-modal-heading h3{
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--text-color);
}

.store-collection-modal-nav{
    /* border:1px solid red; */
    display: flex;
   justify-content: space-between;
}

.store-collection-modal-nav-item{
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    color: var(--color);
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer; 
    padding: 6px 12px;
}

.store-collection-modal-nav-item.disabled{
    opacity: 0.3;
    border: none;
    box-shadow: none;
    background-color: var(--color);
    color: var(--background-color);
    cursor: not-allowed;
}

.store-collection-modal-nav-item.enabled{
    border: none;
    box-shadow: none;
    background-color: var(--color);
    color: var(--background-color);
    opacity: 1;
  
}

.store-collection-modal-nav-item.add{
   padding: 0.3rem;
   width: 38px;
   height: 38px;
   border-radius: 50%;
   font-size: 1.2rem;
   margin-left: 1rem;
}

.store-collection-products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    /* border:1px solid red; */
    padding: 1rem;
}

.store-collection-product-edit-panel:hover{
    box-shadow: 0 0 5px var(--box-shadow-color);  
}

@media only screen and (max-width:500px) {

    .store-collections-container{
        flex-wrap: wrap-reverse;
    }

    .store-collections-wrapper{
        width: 100%;
    }

    .store-create-collection-container{
        width: 100%;
        border-left: none;
        border-bottom: 1px solid var(--prim-border-color);
    } 

    .store-collection-modal-heading h3{
        font-size: 1.1rem;
    }

    /* .store-collection-modal-nav-item.add{
    } */

    .store-collection-products-container{
        /* border:1px solid green; */
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 1rem;
    }

    .store-collection-product-edit-panel{
        width: 100%;
        margin: 0;
        padding: 0;
    }   
}