
.landing-footer-container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--prim-border-color);
    margin-top: 1%;
    min-height: 75vh;
}

.landing-footer-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    min-height: 20vh;
    padding: 3rem 1rem 1rem 1rem;
}

.landing-footer-top-left {
    /* border: 1px solid blue; */
    width: 30%;
}

.landing-footer-logo{
    /* border:1px solid red; */
    width: 70px;
    height: 30px;
    display: flex;
}

.landing-footer-logo img{
    width: 100%;
    height: 100%;
}

.landing-footer-logo-text {
    color: var(--text-color-opac-8);
    font-size: 0.9rem;
    margin: 1rem 0;
    /* border:1px solid green; */
}

.landing-footer-social-section{
    display: flex;
    flex-direction: column;
    /* border:1px solid green; */
}

.landing-footer-social-nav{
    display: flex;
    /* border:1px solid black; */
    width: 100%;
}

.landing-footer-social-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--background-color); */
    border-radius: 50%;
    margin-right: 5%;
    box-shadow: 0 0 3px var(--box-shadow-color); 
}

.landing-footer-social-item i{
    display: flex;
    padding: 0.5rem;
    color: var(--text-color-opac-6);
    transition: all 0.3s ease;
    /* border:1px solid black; */
}

.landing-footer-social-item:hover i{
    color: var(--text-color); 
}

.landing-footer-social-nav-icon{
    /* border:1px solid black; */
    width: 1.4rem;
    height: 1.4rem;
}

.landing-footer-top-right {
    /* border: 1px solid green; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.landing-footer-main-content{
    /* border:1px solid red; */
    /* display: flex;
    flex-direction:column; */
    line-height: 1.6;
    color: var(--text-color-opac-8);
}

.landing-footer-content-header{
    margin-bottom: 4%;
    font-weight: 600;
    color: var(--text-color);
    /* border:1px solid red; */
    display: flex;
}

.landing-footer-main-content ul{
    padding: 0;
    margin: 0;
    /* border:1px solid red; */
}

.landing-footer-main-content li {
    /* border: 1px solid green; */
    list-style-type: none;
}

.landing-footer-main-content a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: var(--text-color-opac-8);
}

.landing-footer-main-content a:hover {
    text-decoration: underline;
    /* text-decoration-color: var(--color); */
    color: var(--color);
}

.landing-footer-bottom {
    border-top: 1px solid var(--prim-border-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto 0 0 0;
    font-size: 0.85rem;
    padding: 1rem;
}

/* .landing-footer-bottom-child {
    border:1px solid red;
} */

.landing-footer-bottom-child a {
    text-decoration: none;
    color: var(--text-color);
}

@media only screen and (max-width:500px) {
    .landing-footer-container{
        border-top:1px solid var(--prim-border-color);
        margin-top: 1%;
        padding: 0;
    }
   
    .landing-footer-top{
        /* border:1px solid red; */
         width:100%;  
    }

    .landing-footer-top section{
        border-bottom:1px solid var(--prim-border-color);
        width: 100%;
        margin-bottom: 0;
        padding: 2% 0;
        border-radius: 0;
    }

    .landing-footer-bottom{
        padding: 1rem;
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .landing-footer-main-content{
       text-align: center;
    }

    .landing-footer-bottom section{
        /* border:1px solid black; */
        width: 100%;
    }

    .landing-footer-social-item{
        margin-right: 1%;
    } 
}

@media only screen and (max-width:414px) {
    

}

@media only screen and (max-width:360px) {


}

@media only screen and (max-width:305px) {
    

}