



footer{
    border:2px solid var(--color);
    margin-top: 1%;
    /* margin-bottom: 2%; */
    padding:2% 1%;
}
.landing-footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border:1px solid red; */
    min-height: 20vh;
     width:70%;
     margin:0 auto;
}
.landing-footer-top section{
    /* border:2px solid black; */
    display:flex;
    justify-content: center;
    align-items: center;;
}

.landing-footer-main-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.landing-footer-main-content{
    /* border:1px solid red; */
    width:100%;
    display:flex;
    flex-direction:column;
    align-self: center;
    font-weight: 600;
    color: var(--color);
}
.landing-footer-content-header{
    margin-bottom: 4%;
}


.landing-footer-bottom{
    border:1px solid var(--sec-border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 8vh;
    margin-top:1%;
    border-radius: 4px;
}
.landing-footer-bottom section{
    /* border:1px solid black; */
    width:49.5%;
}
.landing-footer-social-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-footer-social-nav{
    display:flex;
    flex-direction:row;
    justify-content: center;
    /* border:1px solid black; */
    width:100%;
}
.landing-footer-social-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:10%;
    border:1px solid var(--sec-border-color);
    border-radius: 4px;
    margin-right:1%;
}
.landing-footer-social-item i{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding :0.5rem;
}
.landing-footer-social-nav-icon{
    width: 1.2em;
    height:1.2em;
}

.landing-footer-copyright-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-footer-copyright{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border:1px solid red; */
}
.landing-footer-copyright a{
    text-decoration: none;
    color: var(--sec-color);
}

@media only screen and (max-width:500px) {
   
    .landing-footer-top{
        /* border:1px solid red; */
         width:100%;  
    }
    .landing-footer-top section{
        border:1px solid var(--sec-border-color);
        width:100%;
        margin-bottom: 2%;
        padding:2% 0;
        border-radius: 4px;
    }
    .landing-footer-main-content{
       text-align: center;
    }
    .landing-footer-bottom section{
        /* border:1px solid black; */
        width:100%;
        padding:1%;
    }
    .landing-footer-social-item{
        /* width:20%; */
        margin-right:1%;
    }
    
}

@media only screen and (max-width:414px) {
    

}

@media only screen and (max-width:360px) {


}

@media only screen and (max-width:305px) {
    

}