/* bottom products styles */
.bottomPoductsWrapper{
    /* border: 3px solid black; */
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.bottomPoductsHeader{
    display: flex;
}

.bottomProductsTabHeader{
    min-width: 20%;
    text-align: center;
    border: 1px solid var(--prim-border-color);
    border-radius: 0 4px 0 0;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    color: var(--text-color);
    font-size: 0.9rem;
}
.tabsHeaderActive{
    border-bottom: 1px solid var(--background-color);
    color: var(--color);
    font-weight: 510;
}

.bottomProductsTabHeader:hover{
    color: var(--color);
}

.bottomProductsTabHeader:nth-last-child(2){
    border-left: none;
}

.bottomProductsEmptyTabHeader{
    border-bottom: 1px solid var(--prim-border-color);
    width: 60%;
}

.bottomPoductsContainer{
    /* border: 1px solid red; */
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.bottomProductsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.bottomProductsEmpty{
    border:1px solid black;
    margin: auto;
    width: 100%;
    min-height: 65vh;
}

.reloadIcon{
    font-size: 1.1rem;
    margin-right: 0.3rem;
}

@media only screen and (max-width:500px) {
    .bottomProductsTabHeader{
        min-width: 40%;
    }

    .bottomProductsWrapper{
        grid-template-columns: 1fr 1fr;
    }
}