
.container{
    /* border: 1px solid purple; */
   
}

.error{
   text-align: center;
}

.error span{
    color: rgb(224, 44, 44);
}

.reviewsContainer{
    border: 1px solid var(--prim-border-color);
    box-shadow: inset -4px 0 6px var(--box-shadow-color);
    background-color: var(--background-color);
    height:80vh;
    border-radius: 4px;
    overflow-y: scroll;
    padding: 0 1rem; 
    scrollbar-width: thin;  
}

.reviewsContainer::-webkit-scrollbar{
    width:0.25rem;
}

.inputContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top:auto;
    bottom: 0;
    min-height: 15vh;
}

.inputContainer textarea{
    height: 60px; 
    width: 90%;
    border: 1px solid var(--no-color);
    border-radius: 30px;
    outline: 1px solid var(--prim-border-color);
    padding: 3% 2%;
    caret-color: var(--text-color-opac-5);
    color: var(--text-color);
    font-size: 0.9rem;
    resize: none;
    transition: all 0.3s ease;
}

.inputContainer textarea:focus{
    /* border: 1px solid var(--color); */
    outline: 2px solid var(--color);
    box-shadow: 0 0 8px var(--box-shadow-color);
}

.inputBttn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--prim-border-color);
    box-shadow: 0 0 5px var(--box-shadow-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.inputBttn:hover{
    border: 1px solid var(--opaque-color);
    background-color: var(--opaque-color);
}

.inputBttn:focus{
    outline : 1px solid var(--opaque-color);
}

.inputBttnIcon{
    font-size: 2rem;
}


.loaderContainer{
    margin-top: 2%;
}
.loader{
    border: 3px solid var(--prim-border-color);
    border-radius: 50%;
    border-bottom: 3px solid var(--color);
    width: 1.5rem;
    height: 1.5rem;
    margin-left:auto;
    margin-right:auto;
    animation: suspense-spin 0.8s linear infinite;
    -webkit-animation: suspense-spin 0.8s linear infinite;
}

@keyframes suspense-spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
@-webkit-keyframes suspense-spin {
    0% {
        -webkit-transform: rotate(0deg); 
    }
    100% {
        -webkit-transform: rotate(360deg); 
    }
}

@media only screen and (max-width:500px) { 
    .inputContainer textarea{
        height: 50px;
        width: 85%; 
    }
    
    .inputBttn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: var(--prim-border-color);
        box-shadow: 0 0 5px var(--box-shadow-color);
        transition: all 0.3s ease;
        cursor: pointer;
    }  
}