
@keyframes animatetop{
    from{
        right: -12px;
        opacity:0;
        transition:all;
    }
    to{
        right:0px;
        opacity:1;
        transition:all;
    }
}

.login-container{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid var(--prim-border-color);
    background: var(--background-color);
    width: 100%;
    margin: auto;
    padding: 2rem;
}

.login-panel{
    /* border:1px solid var(--prim-border-color); */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative; 
}

.login-panel-error{
    /* border: 1px solid var(--prim-border-color); */
    color: var(--error-color);
}

.login-panel-heading{
    text-align: center;
    /* border:1px solid #222; */
    margin-bottom: 1rem;
    color:var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.login-panel-body{
    display:flex;
    flex-direction:column;
    color:var(--text-color);  
    /* border:1px solid green; */
    width: 100%;
}

.login-panel-body form{
    position:relative;
    width: 100%;
    min-height:40vh;
    display:flex;
    flex-direction: column;
    /* border:1px solid blue; */
}

.login-form-group{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5%;
    /* margin-top: 2%; */
    margin-bottom: 1%;
    width: 99%;
    /* border:2px solid yellow; */
}

.login-form-group label{
    display:flex;
    font-size: 0.781em;
    font-weight: bold;
}

.login-form-error{
    display: flex;
    justify-content: flex-end;
    width:99%;
    /* border:2px solid red; */
    min-height: 25px;
    color:var(--error-color); 
}

.login-form-error span{
    display: flex;   
}

.login-form-error  i{
    display: flex;
    align-items: center;
    margin-right: 1%;
    /* border:1px solid red; */
}

.login-panel form input{
    padding: 16px;
    /* padding-right: 2rem; */
    border-radius: 8px;
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--prim-border-color);
    caret-color: var(--color);
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} */

.login-panel form input:focus{
    outline: 1px solid var(--color);
    border: 1px solid var(--color);
}

.login-panel form input.not-empty{
    outline: 1px solid var(--color);
    border: 1px solid var(--color);
}

.login-panel form input.has-error{
    outline: 1px solid var(--error-color);
    border: 1px solid var(--error-color);
}

.login-forgot-pass{
    margin-bottom: 2%;
    /* border:1px solid #222; */
}

.login-forgot-pass span{
    font-size: 0.9rem;
    color: var(--color);
    cursor: pointer;
}

.login-forgot-pass span:hover{
   text-decoration: underline;
   color: var(--color);
}

.login-button{
    /* border:1px solid #222; */
    margin-bottom: 2%;
}

.login-panel button{
    width: 100%;
    padding: 16px;
    font-size: 0.95rem;
    font-weight: 600;
    transition:all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background-color: var(--color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;  
}

.login-panel button:hover{
   background-color: var(--color-opac-8); 
}

.login-panel button:focus{
    outline: 2px solid var(--prim-border-color); 
}

.login-button-icon{
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

/* sign up panel */
.login-signup-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

.signup-link{
    display:flex;
    justify-content: flex-end;
    /* border:1px solid green; */
}

.signup-link-text{
    /* border:1px solid green; */
    margin-right: 0.4rem;
}

.signup-link-text p{
    text-align: center; 
    color: var(--text-color-opac-5);
}

.signup-link-button{
    /* border:1px solid green; */
    display:flex;
    align-items: center;
}

.signup-link-icon{
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.signup-link-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    /* border: 1px solid var(--background-color); */
    border-radius: 28px;
    background-color: var(--background-color);
    color: var(--color);
    transition: all 0.3s ease;
}

.signup-link-button a:hover{  
    background-color: var(--active-link-bg-color);
    /* text-decoration: underline; */
}

@media only screen  and (max-width: 910px) {
    .login-container{
        min-height: 75vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .login-panel{
        width: 60%;
    }
}

@media only screen  and (max-width: 600px) {
    .login-err-cont{
        width:85%;
        top:80%;   
    }

    .login-panel{
        width:80%;
    }
}

@media only screen  and (max-width: 500px) {
    .login-container{
        width: 100%;
    }

    .login-panel{
        width: 100%;
    }

    .signup-link{
        justify-content: unset;
    }
}

@media only screen  and (max-width:414px) {
    .login-container{
        min-height: 75vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .login-panel{
        width:90%;
    }

    .login-form-group input{
        width:95%;
        height:45px;
        margin-left:5px;
    }

    .login-panel button{
        width:100%;
        position: relative;
       left:0;
    }
    
    .login-forgot-pass p{
        text-align:center;
    }
}

@media only screen and (max-width:412px) {
    .login-form-group input{
        padding:2%;
    }

    .login-form-group input.not-empty + .placeholder,
    .login-form-group  input:focus + .placeholder{
        top:12px;
        font-size: 11.5px;
        color:#222;
    }
}