


.welcome-container{
    min-height: 92vh;
    border:1px solid red;
    width: 100%;
}
.welcome-header{
    min-height: 30vh;
    width:100%;
    border:1px solid green;
    display:flex;
    justify-content: center;
    align-items: center;

}
.welcome-header h2{
    border:1px solid green;
   text-align: center;
}
.welcome-body{
    min-height: 60vh;
    width:95%;
    display:flex;
    flex-direction:column;
    margin-left:auto;
    margin-right: auto;
    border:1px solid black;
}
.welcome-body-message{
    min-height: 45vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:1px solid red;
    
}
.welcome-body-bottom{
    min-height: 15vh;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border:1px solid rgb(105, 43, 43);

}
.welcome-body-link{
    border:1px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.welcome-body-bttn{
    border:1px solid red;
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-body-bttn button{
    height:45px;
    width:100%;
}