


.login-template-container{
    border:1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
}
.login-template-left{
    border:1px solid black;
    width:20%
}
.login-template-logo{
    border:1px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:10vh;
    margin-top:5%;
}
.login-template-center{
    border:1px solid black;
    width:60%;
    display:flex;
    flex-direction: column;
}
.login-template-right{
    border:1px solid black;
    width:20%
}


.inside-login-template-container{
    border: 1px solid blue;
    position: relative;
    top: 8vh;
    margin-left:28%;
    margin-right:28%;
    min-height: 150vh;
}

.settings-template-container{
    border: 3px solid blue;
    position: relative;
    top: 8vh;
    margin-left:28%;
    /* margin-right:28%; */
    min-height: 150vh;
}

.getting-started-template-container{
    border: 1px solid blue;
    position: relative;
    margin-top: 8vh;
    margin-left:28%;
    /* margin-right:28%; */
}
.gettingStarted-footer{
    margin-left:28%;
}
.getting-started-template-nav{
    border: 1px solid black;
    width:28%;
}

.getting-started-template-center{
    border: 1px solid red;
    width:70%;
    display:flex;
    flex-direction: column;
}