
.login-template-container{
    border:1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
}

.inside-login-template-panel{
    display:flex;
    position: relative;
    /* border:1px solid black; */
}

.index-template-children-with-footer-panel{
    /* border:1px solid black; */
    width: 100%;
}

.login-template-left{
    border:1px solid black;
    width:20%
}

.login-template-logo{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:15%;
    width: 100%;
}

.login-template-logo-img{
    /* border:1px solid red; */
    width: 59px;
    height: 24px;
    display: flex;
}

.login-template-logo img{
   width: 100%;
   height: 100%;
}

.login-template-center{
    border:1px solid black;
    width:60%;
    display:flex;
    flex-direction: column;
}

.login-template-right{
    border:1px solid black;
    width:20%
}

.inside-login-template-container{
    /* border: 1px solid blue; */
    position: relative;
    margin-left: 18%;
    margin-right: 15%;
    min-height: 100vh;
    width:70%;
    padding: 0 0.8rem;
}

/* .inside-login-template-center{
    border:1px solid black;
    min-height: 90vh;
} */

.settings-template-container{
    /* border: 1px solid blue; */
    position: relative;
    margin-left:18%;
    display:flex;
    min-height: 100vh;
    padding: 0 0.8rem;
}

.settings-template-center{
    /* border: 3px solid blue; */
    width: 100%;
}

.getting-started-template-container{
    border: 1px solid var(--prim-border-color);
    border-top: none;
    border-bottom: none;

    position: relative;
    margin-left: 18%;
}

.gettingStarted-footer{
    margin-left: 18%;
    border: 1px solid var(--prim-border-color);
    /* margin-top: 1%; */
    padding: 1rem;
}
.getting-started-template-nav{
    /* border: 1px solid black; */
    width:28%;
}


@media only screen and (max-width:500px) {
    .inside-login-template-container{
        /* border: 1px solid blue; */
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0 0.8rem;
        margin-bottom: var(--top);
    }

    .settings-template-container{
        /* border: 1px solid blue; */
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0 0.8rem;
        margin-bottom: var(--top);
    }

    .gettingStarted-footer{
        margin-left:0;
    }  
}

@media only screen and (max-width:414px) {
    

}

@media only screen and (max-width:360px) {


}

@media only screen and (max-width:305px) {
    

}