


.getting-started-location-heading{  
    width:100%;
    border:1px solid green;
    display:flex;
    justify-content: center;
    align-items: center;
}
.location-form-address{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.location-form-country{
    width:45%;
    /* border:1px solid red; */
}
.location-form-state{
    width:45%;
    /* border:1px solid red; */
}


.getting-started-contact-body form select{
    padding:12px 12px 12px 40%;
    border-radius: 4px;
    outline:none;  
    width:100%;
    color: var(--text-color);
    border:1px solid var(--prim-border-color);
    transition: border-color 0.3s ease;
    cursor:pointer;
}
.getting-started-contact-body.location form  textarea{
    width:97%; 
}


.location-form-group{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 2.5%;
    margin-top:2%;
    margin-bottom:1%;
    width:99%;
    /* border:2px solid purple; */
}
.location-form-group.brand-name-label{
    padding-top: 0%;
    margin-top:1%;
    margin-bottom:1%;
    /* border:2px solid green; */
}
.location-form-group label{
    font-size: 0.781em;
    font-weight: bold;
    color: var(--text-color);
    /* border:1px solid green; */
}

.location-form-group label span{
    font-size: 0.9em;
    font-weight: bold;
    color: var(--sec-color);
}