body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  /* div variables */
  --color: rgb(8, 8, 73);
  --prim-color: #222;
  --sec-color: #55759c;

  --bg-color: #ffffff;
  --prim-bg-color: #005ab4;
  --sec-bg-color: rgb(19, 182, 19);

  --border-color: #222;
  --prim-border-color: #b4b4b4;
  --sec-border-color: #005ab4;

  --box-shadow-color: rgba(117, 116, 116, 0.6);

  /* button variables */
  --button-color: rgb(8, 8, 73);
  --prim-button-color: #ffffff;

  --button-outline-color: #489cf0;

  --button-bg-color: rgb(19, 182, 19);
  --prim-button-bg-color: #005ab4;

  --button-border-color:rgb(8, 8, 73);
  --prim-button-border-color: #005ab4;;

  

}
