body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  /* div variables */
  --color: #005ab4;
  --prim-color: rgb(19, 182, 19);
  --sec-color: rgb(255, 84, 84);
  --no-color:#ffffff;

  --opaque-color:#0074e7;
  --opaque-prim-color:rgb(23, 211, 23);

  --text-color:rgb(8, 8, 73);

  --outline-color:rgb(96, 96, 219);

  --bg-color: #ffffff;
  --prim-bg-color: #005ab4;
  --sec-bg-color: rgb(19, 182, 19);

  --border-color: #222;
  --prim-border-color: #b4b4b4;
  --sec-border-color: #005ab4;

  --box-shadow-color: rgba(117, 116, 116, 0.6);

  /* button variables */
  --button-color: rgb(8, 8, 73);
  --prim-button-color: #ffffff;

  --button-outline-color: #489cf0;

  --button-bg-color: rgb(19, 182, 19);
  --prim-button-bg-color: #005ab4;

  --button-border-color:rgb(8, 8, 73);
  --prim-button-border-color: #005ab4;


  --top:9vh;
  --sidebar-width: 15%;
  

}

.nav-icon{
  font-size:1.4em;
  cursor: pointer;
  /* border: 1px solid red; */
 
}