

.sold-products-profile-container{
    min-width: 50%;
    padding: 1%; 
}
.sold-products-profile-image-wrapper{
    display:flex;
    flex-direction: column;
    padding: 2%;
    border: 1px solid var(--prim-border-color);
    box-shadow:0 0 1px var(--box-shadow-color);
    border-radius: 6px;
}

.sold-products-profile-details-wrapper{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    /* border:1px solid purple; */
    padding: 0.5%;

}

.sold-products-profile-details-wrapper img{
    border-radius: 50%; 
    height:40px;
    width:40px;
    object-fit: cover;
    object-position: center;
}
.sold-products-profile-details{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    /* border:1px solid red; */
    width: 75%;
    margin-left: 2%;

}
.sold-products-profile-details div{
    margin-right: 2%;
    padding: 1% 2%;
    border-radius: 30px;
    border:1px solid var(--no-color);
    background-color: #f0f0f0;
    color: var(--color);
}
.sold-products-profile-image-kebab-icon{
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    /* border:1px solid green; */
    color: var(--text-color);
    min-width: 10%;
}

.sold-products-profile-button{
    /* border: 1px solid red; */
    min-width:35%;
}
.sold-products-profile-button.component{
 /* border: 1px solid red; */
 min-width:17%;
}
.sold-products-profile-button button{
    width:100%;
    height: 35px;
    font-size: 0.82rem;
    font-weight: bold;
    transition:all 0.3s ease;
    cursor:pointer;
    border-radius: 30px;
    border:1px solid var(--no-color);
    background-color: #f0f0f0;
    color: var(--color);
}
.sold-products-profile-button button:hover{
    border:1px solid var(--prim-border-color);
}
.sold-products-profile-button button:focus{
    outline:1px solid var(--opaque-prim-color);
}

.sold-products-profile-details-container{
    /* border:1px solid green; */
    min-width: 80%;
    align-items: center;  
}

.sold-product-button-wrapper{
    /* border: 3px solid green; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1%
}
.sold-product-view-product-button{
    /* border: 1px solid red; */
    min-width:35%;
}
.sold-product-view-product-button button{
    width:100%;
    height: 40px;
    font-size: 0.82rem;
    font-weight: bold;
    transition:all 0.3s ease;
    cursor:pointer;
    border-radius: 4px;
    border:1px solid var(--color);
    background-color: var(--no-color);
    /* background-color: #f0f0f0; */
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.sold-product-view-product-button button:hover{
    border:1px solid var(--color);
    background-color: var(--color);
    color: var(--no-color);
}
.sold-product-view-product-button button:focus{
    outline:1px solid var(--opaque-color);
}