
/* filter compiinent styles */
.container{
    position: fixed;
    top: 30%;
    height: 50vh;
    width: 20%;
    border: 1px solid var(--prim-border-color);
    border-radius: 4px;
    box-shadow: 0 0 2px var(--box-shadow-color);
    z-index: 2;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
    background-color: var(--background-color);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    right: -25%;  
}

.container::-webkit-scrollbar{
    width: 0.25rem;
}

.container.hide{
    right: -25%;  
}

.container.show{
    right: 0;  
    /* transform: translate(-50%, -50%);  */
}

.headerContainer{
    position: sticky;
    top: 0;
    box-shadow: 2px 0 4px var(--box-shadow-color);
    background-color: var(--background-color);
    width: 100%;
    height: 3rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    color: var(--color);
    cursor: pointer;

}

.closeIcon{
    font-size: 1rem;
}

.headerText{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-weight: 510;
}

.headerTextIcon{
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

.filterWrapper{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    /* margin-bottom: 1rem;  */
}

.filterChildContainer{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 3% auto;
    width: 100%;  
}
.filterChildContainer:nth-child(1){
    margin-top: 9%;    
}

.sortContainer{
    /* border: 1px solid black; */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    height: 2.8rem;
    background-color: var(--background-color);
    color: var(--color);
    width: 100%;
}

.sortContainerOpen{
    height: 14rem;
    border-radius: 8px;
    border: 1px solid var(--prim-border-color);
}

.sortHeader{
    width: 100%;
    display: flex;
    border: 1px solid var(--prim-border-color);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

/* filter links */
.linksContainer{
    /* border:2px solid red; */
    font-size: 0.9rem;
    color: var(--color);
    margin: 0.4rem 0;
    font-weight: 510;
    text-transform: uppercase;
}

.categoryLinks{
    /* border: 2px solid green; */
    display: flex;
    /* justify-content: space-between; */
    margin-top: 0.3rem;
    border-radius: 4px;
    flex-wrap: wrap;
    text-transform: none;
}

.categoryLinksItem{
    border: 1px solid var(--prim-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 4px;
    transition: all 0.2s ease;
    min-width: 28%;
    height: 3.9rem;
    margin: 0 2.6% 0.6rem 2.6%;
    color: var(--color);
    cursor: pointer;
    
}

.categoryLinksItem:hover{
    background-color: var(--hover-link-bg-color);
    /* box-shadow: 0 0 5px var(--box-shadow-color); */
    border: 1px solid var(--color-opac-8);
}

.categoryLinksItemActive{
    /* border: 1px solid var(--color); */
    /* box-shadow: 0 0 5px var(--box-shadow-color); */
    background-color: var(--active-link-bg-color);
    font-weight: bold;
    /* border: unset; */
    border: 1px solid var(--color-opac-8);
}

.categoryTab{
   margin-right: 0.6rem; 
}

.categoryTab:hover{
    box-shadow: 0 0 5px var(--box-shadow-color);
    border: 1px solid var(--prim-border-color);
}

.categoryTabActive{
    /* border: 1px solid var(--color); */
    box-shadow: 0 0 5px var(--box-shadow-color);
    background-color: var(--active-link-bg-color);
    font-weight: bold;
    /* border: unset; */
    /* border: 1px solid var(--color-opac-8); */
}

.categoryLinksItem span{
    /* border:1px solid purple; */
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

/* FILTER tabs */
.filterTabsContainer{
    /* border: 1px solid purple; */
}

.filterTabsTop{
    /* border: 2px solid green; */
    font-size: 0.9rem;
    color: var(--color);
    font-weight: 510;
    text-transform: uppercase;
}

.filterTabs{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 0.3rem;
    text-transform: none;
    
}

/* filter button component */
.filterButtonWrapper{
    border:1px solid var(--prim-border-color);
    background-color: var(--background-color);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:40px; 
    width: 40px;
    border-radius: 30px; 
    transition: all 0.2s ease;
    cursor: pointer;
}
.filterButtonWrapper:hover{
   box-shadow: 0 0 5px var(--box-shadow-color);
}

.filterButtonIcon{
    font-size: 1.2rem;
    color: var(--color);
}



