
.index-container{
    border:1px solid red;
    min-height: 92vh;
    display:flex;
    flex-direction: column; 
    justify-content: space-between; 
    width:95%;
    margin-left: auto;
    margin-right: auto;
    padding:1%;
}

.index-post-container{
    /* border:1px solid green; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:1%;
    border-radius: 6px;
    border:1px solid var(--prim-border-color);
    /* box-shadow:0 0 2px var(--box-shadow-color); */
}

.index-post-writeup-container{
    /* border:1px solid red; */
    width:70%;
}
.index-post-writeup{
    /* border:1px solid black; */
}
.index-post-writeup p{
    font-size: 1.3rem;
    font-weight: bold; 
    color: var(--color); 
}
.index-post-upload{
    /* border:1px solid blue; */
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.index-post-upload a{
    min-width:70%;
}
.index-post-upload button{
    width:100%;
    height: 50px;
    border:0;
    border-radius: 30px;
    font-size: 0.9em;
    font-weight: bold;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
    background-color: var(--button-bg-color);
    color:white;
}
.index-search-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px solid #222; */
    border:1px solid var(--prim-border-color);
    /* box-shadow:0 0 2px var(--box-shadow-color); */
    min-height:65vh;
    padding:1%;
    border-radius: 6px;
}
.index-search-header-panel{
    /* border:1px solid red; */
    margin-bottom:2%;
}

.index-search-header{
    display:flex;
    justify-content: center;
    align-items: center;
     /* border:1px solid red; */
}
.index-search-header p{
  font-size: 1.2rem;
  font-weight: bold;
  color:var(--color);
  
}
.index-search-select{
    /* border:2px solid blue; */
    min-height:10vh;
    display:flex;
    justify-content: space-between;
    padding:1%;
}
.index-search-select-filter{
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;  
}
.index-search-select-filter span{
    font-size: 0.781em;   
}

.index-search-select-btn{
    /* border:2px solid red; */
    width:15%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.index-search-select-btn select{
    outline: none;
    width:100%;
    height:40px;
    font-weight: bold;
    border:1px solid var(--button-border-color);
    color:var(--button-color);
    border-radius: 6px;
    text-align: center;
    cursor:pointer;
}

.index-search-form{
    /* border:2px solid blue; */
    min-height:15vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1%;
}

.index-search-form-group{
    /* border:1px solid red; */
    width:85%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-search-form form{
    /* border:1px solid green; */
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%; 
}
.index-search-form form input[type="search"]{
    outline: none;
    width:91%;
    height: 45px;
    padding-left: 3%;
    font-size: 0.9em;
    border-top:1px solid var(--prim-border-color);
    border-right:0;
    border-bottom:1px solid var(--prim-border-color);
    border-left:1px solid var(--prim-border-color);
    border-radius:30px 0 0 30px;
    color: var(--color);
    caret-color: rgb(19, 182, 19); 
}
.index-search-form form button{
    outline: none;
    width:9%;
    height: 45px;
    border-top:1px solid var(--prim-border-color);
    border-right:1px solid var(--prim-border-color);
    border-bottom:1px solid var(--prim-border-color);
    border-left:0;
    padding-right: 3%;
    text-align: right;
    border-radius:0 30px 30px 0;
    font-weight: bold;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
    background-color: #fff; 
    color: var(--button-color);
}
.index-search-form-error{
    width:100%;
    min-height:6vh;
    border-radius: 4px;
    display: flex;
    border:1px solid rgb(248, 197, 197);
    background-color:#ffe8ea;
}
.index-search-form-error-text{
    width:80%;
    /* border:1px solid red; */
    padding:2%;
}
.index-search-form-error-close{
  width:20%;
  /* border:1px solid red; */
  display:flex;
  justify-content: flex-end;  
}
.index-search-form-error-close-icon{
    border: 1px solid var(--prim-border-color);
    background-color: #ffffff;
    height:20px;
    width:20px;
    margin-top:2%;
    margin-right: 2%;
    border-radius: 30%; 
    display:flex;
    justify-content: center;
    align-items: center; 
    cursor:pointer;   
}
.index-search-form-error span{
    /* border:1px solid red; */

    color:rgb(121, 30, 30);

}

.index-products-filter-heading{
    display:flex;
    justify-content: center;
}
.index-products-filter-heading p{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color);
}
.index-products-filter-buttons{
    /* border:2px solid red; */
    display:flex;
    justify-content: space-between;
    min-height:10vh;
    padding:1%;
    margin-bottom: 1%;  
}
.index-products-filter-select{
    /* border:1px solid red; */
    width:15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-products-filter-select label{
    font-size: 0.9em;
    color:var(--color);
}
.index-products-filter-select select{
    outline: none;
    width:100%;
    height:40px;
    font-weight: bold;
    border:1px solid var(--button-border-color);
    color:var(--button-color);
    border-radius: 6px;
    text-align: center;
    cursor:pointer;
}
.index-clothing-category-links{
    border:1px solid purple;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1%;
}

.index-products-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border:1px solid #222;
    flex-wrap: wrap;
    min-height:30vh;
}

.index-product-panel{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--prim-border-color);
    box-shadow:0 0 2px var(--box-shadow-color);
    width:30%;
    margin: 2% 0 10% 0;
    min-height:65vh;
    padding:1%;
}

.index-error-container{
    border:1px solid red;
    position: fixed;
    color: rgb(224, 44, 44);
}

.index-error-modal{
    border:1px solid red;
}