
.container{
    border: 1px solid red;
    padding:  2rem;
}

.top{
    min-height: 100vh;
    border: 1px solid red;
    display: grid;
    grid-template-rows: 1fr;
}

.containerChild{
    border: 2px solid purple;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
}